<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>
葬礼定制
</title>
<script src="/funeral/js/jquery-2.1.4.js"></script>
<script src="/funeral/js/jquery-ui.js"></script>
<script src="/funeral/js/sliderx.js"></script>
<script src="/funeral/js/angular-1.4.0-rc.2/angular.js"></script>
<script src="/funeral/js/Bootstrap/boot.js"></script>
<script src="/funeral/js/libs.baidu.com/jquery/1.10.2/jquery.js"></script>
<script src="/funeral/js/apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="/funeral/js/apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link href="/funeral/pages/component/css/secondLevelMenu.css" rel="stylesheet">

</head>






<style>
@media (min-width: 900px) {
  .container {
    width: 100%;
	padding: 0px;
	min-width: 1000px;
  }
}
.headerAddtion {
    width: 100%;
	height: 48px;
	text-align: center;
	box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
}
.subNavigat {
    line-height: 48px;
	font-size: 16px;
	margin-right: 20px;
}
.subNavigat a {
    text-decoration: none;
	color: #5b5b5b;
	font-family: "Microsoft Yahei";
}
.naviSelect a{
    color: #000000!important;
    font-weight: bold;
	cursor: default!important;
}
.submitArea {
    width: 100%;
	height: 106px;
}
.submitArea button {
    background-color: #ff5274;
	color: #ffffff;
	border-radius: 5px;
	width: 136px;
	height: 44px;
	border: 0px;
	margin-top: 30px;
}
.submitArea button p {
    margin: 0px;
	font-size: 16px;
}

.unseleted{
	pointer-events:none;
	}


</style>








<script type="text/javascript">
var app = angular.module('myApp', []);
function buildObject(level) {
    var levelOwnList = [];
	for (i=0 ; i < level.length; i++) {
	    var levelOwn;

	    if (level[i] === "0") {
		    levelOwn = {
			    hidden: "hidden"
			}
		}
		else {
		    levelOwn = {
			    hidden: ""
			}
		}
		levelOwnList.push(levelOwn);
	}
    return levelOwnList;
}
app.controller('wishTypeLevels', function($scope, $http) {
	
	  $http.get("/funeral/displayWishType/listWishCategory").success(function(response) {
	    $scope.wishCates = response;
	});
	
	 $http.get("/funeral/displayWishType/listWishCategorySub").success(function(response) {
	    $scope.cateSubs = response;
	});
	
    $http.get("/funeral/wishType/list").success(function(response) {
	    $scope.wishTypes = response;
	});
	$http.get("/funeral/wishType/listLevel").success(function(response) {
	    var level1 =[],
		    level2 = [],
			level3 = [],
			level4 = [];
		
		level1 = response.level1.split(",");
		level2 = response.level2.split(",");
		level3 = response.level3.split(",");
		level4 = response.level4.split(",");
		$scope.level1 = buildObject(level1);
		$scope.level2 = buildObject(level2);
		$scope.level3 = buildObject(level3);
		$scope.level4 = buildObject(level4);
	});
});
</script>
<link href="/funeral/js/personal.css" rel="stylesheet">
<body>
<div class="container">
<IFRAME NAME="content_frame" width=100% SRC="/funeral/pages/component/topBar.html?cat=design" frameborder =0 height = "65px"></IFRAME>
<div id="line0"></div>
<div id="link">
 <link1>	 <a href="/funeral/pages/funeralDesignPage.html">为什么要定制葬礼</a>  </link1>
 <link2>   <a href="/funeral/pages/html/customizatonPages/howItWorks.html">怎样在念念定制葬礼    </a>  </link2>
 <link3>   <a href="/funeral/pages/html/customizatonPages/costCalculator.html">葬礼花费计算</a>  </link3>
 <link4>   <a href="/funeral/pages/designProposal.html" style="font-weight:900;">开始定制</a>  </link4>
 </div>	
	
	
<div id="mainContent">
   
    <div class="topContent">
   
   
    <div id="headerMessage">
	    <h2 id="headerMesText">选择适合您的定制方案</h2>
	</div>
	
	
	
	<!--for tab-->
	<div id="designTaocan">
        <div id="taocan1" class="designTaocanIconDiv">
			<h3>一路走好</h3>
		</div>
		<div id="taocan2" class="designTaocanIconDiv">
			<h3>静享怡然</h3>
		</div>
		<div  id="taocan3" class="designTaocanIconDiv">
		    <h3>深情告别</h3>
		</div>
		<div id="taocan4" class="designTaocanIconDiv">
		    <h3>新家搬迁</h3>
		</div>
	</div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	
	
	
	<div id="compareForm" ng-app="myApp" ng-controller="wishTypeLevels">
		
		
		
		
	    <div class= "includeDiv">
	    <ul class="descRow">
		    <li class="headerLineLeft">
			 <p>比较</p>
			</li>
		<li class="normalHeaderLineLeft">
			    <p></p>
			</li>
				<li style="{{wishCate.style}}" ng-repeat="wishCate in wishCates">
			    <p class="messageInRow" style="{{wishCate.fontStyle}}">{{wishCate.cateName}}</p>
			</li>
			<li class="normalHeaderLine">
			    <p></p>
			</li>
		</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		  <div class= "includeDiv">
	    <ul class="descRow">
		    <li class="headerLineRight">
			   			 <p>方案</p>

			</li>
			<li class="normalHeaderLineRight">
			    <p></p>
			</li>
			
				<li class="normalLine" ng-repeat="cateSub in cateSubs">
			    <p class="messageInRow"  >{{cateSub.wishName	}}</p>
			</li>
		<li class="normalHeaderLine">
			    <p></p>
			</li>
		</ul>
		</div>
		
		
		
		
		
		<div id="basic" class= "includeDataDivBasic">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
				    <div class="iconChild">
			            <h2 class="designHeaderText">基础</h2>
		                <h4>￥288 - ￥6288<h4>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最为经济合算的方案<br/>比较低的成本定制专属葬礼</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
			    	   <img src="/funeral/js/images/tick.jpg" class="fakeImg"></img>
			        <img src="{{cateSub.url01}}" class="tickImg"></img>
				</div>
			</li>
		
		
		
			<li>
			    <div class="submitArea">
				    <button id="basicButton"><p>选择该套</p></button>
				</div>
			</li>
		
		</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		<div id="good" class= "includeDataDivGood">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">精品</h3>
		                <h4>￥288 - ￥6288<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最受欢迎的方案<br/>灵活的安排各项葬礼细节</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
				    <img src="/funeral/js/images/tick.jpg" class="fakeImg"></img>
			        <img src="{{cateSub.url02}}" class="tickImg"></img>
				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button id="goodButton"><p>选择该套</p></button>
				</div>
			</li>
		</ul>
		</div>
		
		
		
		
		
		<div id="better" class= "includeDataDivBetter">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">豪华</h3>
		                <h4>￥288 - ￥6288<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最大气的方案，<br/>为您爱的人举办高规格的仪式</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
		<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
				    <img src="/funeral/js/images/tick.jpg" class="fakeImg"></img>
			        <img src="{{cateSub.url03}}" class="tickImg"></img>
				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button id="betterButton"><p>选择该套</p></button>
				</div>
			</li>
		</ul>
		</div>
		
		
		
		
		

		
		
		<div id="best" class= "includeDataDivBest">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">顶级</h3>
		                <h4>￥288 - ￥6288<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最奢侈的方案，<br/>举办无上规格的仪式</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">   <img src="/funeral/js/images/tick.jpg" class="fakeImg"></img>
				  			        <img src="{{cateSub.url04}}" class="tickImg"></img>

				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button  id="bestButton" ><p>选择该套</p></button>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>
</div>
<div id="titleIconDiv">
    <img src="/funeral/js/images/titleIcon.jpg" class="iconImg"></img>
    
</div>
<IFRAME NAME="content_frame" width=100% height=300 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</body>
<script type="text/javascript">
var userId = 123;
function generateWishlistByLevel(userId, wishlistId, level) {
    var paras = 'userId='+userId+'&wishlistId='+wishlistId+'&level='+level;
    $.ajax({
		url: '/funeral/wishlist/add?'+paras,
		data: [],
		type: 'post',
		dataType:'json',
		success:function(data){
			window.parent.location.href='/funeral/pages/designProcess.html';
		},
		error: function(error) {
		}
	});
}
function getWishlistByLevel(level) {
    var paras = 'userId='+userId;
    $.ajax({
		url: '/funeral/wishlist/list?'+paras,
		data: [],
		type: 'get',
		dataType:'json',
		success:function(data){
			generateWishlistByLevel(userId, data[0].wishlistId, level);
		},
		error: function(error) {
		}
	});
}
$("#taocan1").on("click", function () {

	if( $("#taocan1").hasClass("choose")){
	$("#taocan1").removeClass("barSelect");
	$("#taocan1").removeClass("choose");	
			 $("#basic").removeClass("barSelect");

	
	if($("#taocan4").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
	  	  $("#best").removeClass("barSelect");	
						}
	
			if($("#taocan3").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").addClass("barSelect");	
	  return;
					}else{
						
	  $("#better").removeClass("barSelect");	
						}
	
	
		
		if($("#taocan2").hasClass("choose")){
	 $("#basic").removeClass("barSelect");
	 $("#good").addClass("barSelect");
			return;
			}else{
				
		
	 $("#good").removeClass("barSelect");	
				
				}
				
		
		
		
		
		
		
	 
	}else{
	$("#taocan1").addClass("choose");
	$("#taocan1").addClass("barSelect");
		 $("#basic").addClass("barSelect");
	
		if($("#taocan4").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
		
	  	  $("#best").removeClass("barSelect");	
						}
	
	
		if($("#taocan3").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").addClass("barSelect");	
	  return;
					}else{
						
	  $("#better").removeClass("barSelect");	
						}
	
	

			if($("#taocan2").hasClass("choose")){
	 $("#basic").removeClass("barSelect");
	 $("#good").addClass("barSelect");
			 return;
			}else{
				
			
	    $("#good").removeClass("barSelect");	
				
				}
				
			
		
		
	
		
		
		
		}
	 
	 
   });
   
   
 
$("#taocan2").on("click", function () {
	if( $("#taocan2").hasClass("choose")){
	$("#taocan2").removeClass("barSelect");
	$("#taocan2").removeClass("choose");	
	
	 $("#good").removeClass("barSelect");
	
	if($("#taocan4").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
	 $("#best").removeClass("barSelect");	
			}
	
	
		if($("#taocan3").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").addClass("barSelect");	
	  return;
					}else{
	  $("#better").removeClass("barSelect");	
						}
	
	
		if($("#taocan1").hasClass("choose")){
	 $("#basic").addClass("barSelect");
	 $("#good").removeClass("barSelect");
			
			}else{
				
			 $("#basic").removeClass("barSelect");
				}
				
			
		
		
		
		
		
	 
	}else{
	$("#taocan2").addClass("choose");
	$("#taocan2").addClass("barSelect");

	 $("#basic").removeClass("barSelect");
	 $("#good").addClass("barSelect");


	if($("#taocan4").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	      $("#good").removeClass("barSelect");	
	     $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
	  	  $("#best").removeClass("barSelect");	
						}



				
				if($("#taocan3").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").addClass("barSelect");	
	  return;
					}else{
	  $("#better").removeClass("barSelect");	
						}
		
		
	
		
		
		
		}
	 
	 
   });





$("#taocan3").on("click", function () {
	if( $("#taocan3").hasClass("choose")){
	$("#taocan3").removeClass("barSelect");
	$("#taocan3").removeClass("choose");	
	
	 $("#better").removeClass("barSelect");
	
	if($("#taocan4").hasClass("choose")){
	$("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
	 $("#best").removeClass("barSelect");	
			}
	
	
		if($("#taocan2").hasClass("choose")){
		$("#basic").removeClass("barSelect");
	 $("#good").addClass("barSelect");	
	  return;
					}else{
	  $("#good").removeClass("barSelect");	
						}
	
	
		if($("#taocan1").hasClass("choose")){
	 $("#basic").addClass("barSelect");
			
			}else{
				
			 $("#basic").removeClass("barSelect");
				}
				
			
		
		
		
		
		
	 
	}else{
	$("#taocan3").addClass("choose");
	$("#taocan3").addClass("barSelect");

	 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");
	 $("#better").addClass("barSelect");


	if($("#taocan4").hasClass("choose")){
					 $("#basic").removeClass("barSelect");
	      $("#good").removeClass("barSelect");	
	     $("#better").removeClass("barSelect");	
	  	  $("#best").addClass("barSelect");	
return;
					}else{
	  	  $("#best").removeClass("barSelect");	
						}



				
			
		
		
		
		}
	 
	 
   });





$("#taocan4").on("click", function () {
	if( $("#taocan4").hasClass("choose")){
	$("#taocan4").removeClass("barSelect");
	$("#taocan4").removeClass("choose");	
	
	 $("#best").removeClass("barSelect");
	
	if($("#taocan3").hasClass("choose")){
	$("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");	
	  $("#better").addClass("barSelect");	
	  	 
return;
					}else{
	 $("#better").removeClass("barSelect");	
			}
	
	
		if($("#taocan2").hasClass("choose")){
		$("#basic").removeClass("barSelect");
	 $("#good").addClass("barSelect");	
	  return;
					}else{
	  $("#good").removeClass("barSelect");	
						}
	
	
		if($("#taocan1").hasClass("choose")){
	 $("#basic").addClass("barSelect");
			
			}else{
				
			 $("#basic").removeClass("barSelect");
				}
				
			
		
		
		
		
		
	 
	}else{
	$("#taocan4").addClass("choose");
	$("#taocan4").addClass("barSelect");

	 $("#basic").removeClass("barSelect");
	 $("#good").removeClass("barSelect");
	 $("#better").removeClass("barSelect");
	 $("#best").addClass("barSelect");




				
			
		
		
		
		}
	 
	 
   });




$("#basicButton").on("click", function () {
	   
            getWishlistByLevel(1);
	
	});
$("#goodButton").on("click", function () {
	   
            getWishlistByLevel(2);
	
	});
$("#betterButton").on("click", function () {
	   
            getWishlistByLevel(3);
	
	});
$("#bestButton").on("click", function () {
	   
            getWishlistByLevel(4);
	
	});


   
</script>
</html>