<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
<div class="bottomBar">
    <div>
	    <label>NianNian</label>
		<a calss = "topBarLink" href = "#">葬礼定制</a>
		<a calss = "topBarLink" href = "#">产品及服务</a>
		<a calss = "topBarLink" href = "#">墓地信息</a>
		<a calss = "topBarLink" href = "#">关于我们</a>
	</div>
	<div>
	    <label>分享我们的信息，让世界变得更美好</label>
		<button>微信</button>
		<button>邮件</button>
	</div>
</div>
</body>
</html>
