<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
<div class = "topBar">
    <span class = "topBarLogo" background-image = "http://www.bleum.com/images/logo.aspx"></span>
    <a calss = "topBarLink" href = "#">葬礼定制</a>
	<a calss = "topBarLink" href = "#">产品及服务</a>
	<a calss = "topBarLink" href = "#">墓地信息</a>
	<a calss = "topBarLink" href = "#">关于我们</a>
	<a calss = "topBarLinkRight" href = "#">联系我们</a>
</div>
</body>
</html>