<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
<div>
	<div class="userInfo1">
		<h2>请留下你的个人信息，以便我们联系您</h2>
		姓名<input></input>
		电话<input></input>
		邮箱<input></input>
		葬礼时间<input></input>
		特别要求<input></input>
	</div>
	<div class="userInfo2">
		<h2>请留下你的个人信息，以便我们联系您</h2>
		葬礼地点
	</div>
	<button>下一步</button>
</div>
</body>
</html>