<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<title>念念--产品及服务</title>
<link href="/js/images/niannian.ico" rel="shortcut icon" />
<meta name="description" content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" /> 
<meta name="keywords" content="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="content-style-type" content="text/css" /> 
<meta http-equiv="content-script-type" content="text/javascript" />
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/angular-1.4.0-rc.2/angular.js"></script>
<link href="/js/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">
<script src="/js/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="../js/generalUsage.js"></script>
<link href="/css/categoryProduct.css" rel="stylesheet">
<link rel="stylesheet" href="/js/Font-Awesome-4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/js/AccountInfo.css">
</head>
<script>
function findCata(cataName, catas) {
    for (i =0; i < catas.length; i++) {

		if (catas[i].cataId === cataName) {
		    catas[i].selected = 'selected';
		    return catas[i];
		}
	}
	
}
var length = location.search.length,
type = location.search.substring(6, length),
itemFilter1 = '',
itemFilter2 = '',
itemFilter3 = '',
orderBy = '',
reverse = '';
var catas = [{
    cataId: 'G',
	cataName: '骨灰盒',
	cataDesc: '繁花落尽君辞去历尽铅华归于斯',
	cataPic: '/js/images/noun_187249_cc.png',
	iconPic: '/js/images/box@2x.png',
	textPic: '/js/images/111.png',
	filter1: '分类:',
    filter2: '材质:',
	filter3: '产地:'
}, {
    cataId: 'S',
	cataName: '寿衣',
	cataDesc: '日暖犹记备衣衫阳关一出不觉寒',
	cataPic: '/js/images/noun_178107_cc.png',
	iconPic: '/js/images/clothes@2x.png',
	textPic: '/js/images/112.png',
	filter1: '分类:',
	filter2: '材质:',
	filter3: '适用:'
}, {
    cataId: 'SI',
	cataName: '祭祀安居',
	cataDesc: '升幡登坛祭几回情深思切忆相随',
	cataPic: '/js/images/Mask + Rectangle 77.png',
	iconPic: '/js/images/clothes copy@2x.png',
	textPic: '/js/images/113.png'
}, {
    cataId: 'L',
	cataName: '礼仪服务',
	cataDesc: '殚精竭虑誓不悔浓情暖意拂心扉',
	cataPic: '/js/images/Group.png',
	iconPic: '/js/images/clothes copy 2@2x.png',
	textPic: '/js/images/114.png'
}, {
    cataId: 'SAO',
	cataName: '祭扫用品',
	cataDesc: '冢荒碑残殇未歇洒酒折菊栖冥蝶',
	cataPic: '/js/images/noun_193115_cc.png',
	iconPic: '/js/images/clothes copy 3@2x.png',
	textPic: '/js/images/115.png'
}, {
    cataId: 'D',
	cataName: '代订服务',
	cataDesc: '念念提供了最完整的产品类别和特色服务，这里需要一些介绍的文字这里需要一些介绍的文字',
	cataPic: '/js/images/1452911054_inspiration_Vol.1-61.png',
	iconPic: '/js/images/clothes copy 4@2x.png',
	textPic: '/js/images/1459802223_771171.png'
}, {
    cataId: 'Q',
	cataName: '其他服务',
	cataDesc: '念念提供了最完整的产品类别和特色服务，这里需要一些介绍的文字这里需要一些介绍的文字',
	cataPic: '/js/images/noun_27116.png',
	iconPic: '/js/images/clothes copy 4@2x.png',
	textPic: '/js/images/otherText.png'
}
];
var cata, productElementFilter, productFilter;
cata = findCata(type, catas);
productFilter = "?tab="+type
productElementFilter = '?generalCode='+cata.cataId;
</script>
<body ng-app="catagoryApp" ng-controller="catagory">
<div class="container">
<IFRAME NAME="content_frame" width=100% SRC="component/topBar.html?cat=product" frameborder = 0 height = "67px"></IFRAME>
<div>
	<div id="filter">
	    <div id="filterCoat">
	    <div class="filterIcon firstIcon" id="mainPage">
		    <div class="imageHalf">
			    <img class="fakeImg"></img>
			    <img src="/js/images/Layer_1.png" class="iconImg"></img>
			</div>
			<div class="textHalf">
			    <p>首页</p>
			</div>
		</div>
		<div class="filterIcon {{cata.selected}}" id="{{cata.cataId}}" ng-repeat="cata in catas"  ng-cloak>
		    <div class="imageHalf">
			   <img class="fakeImg"></img>
			   <img src="{{cata.cataPic}}" alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			</div>
			<div class="textHalf" ng-cloak>
			    <p>{{cata.cataName}}</p>
			</div>
		</div>
		</div>
	</div>
	<div id="catagoryProduct" ng-cloak>
	    <div id="topBarCoat">
	        <img src="/js/images/Page1@2x.png"></img>
		    <h1>{{cataName}}</h1>
		    <img src="/js/images/Page 1Copy@2x.png"></img>
		</div>
		<div class="bottomLeft">
		    <script>document.write('<img src="'+ cata.iconPic +'"></img>');</script>
		</div>
		<div class="bottomRight">
		    <script>document.write('<img src="'+ cata.textPic +'"></img>');</script>
		</div>
	</div>
</div>
<div class="frameMain">
	<div class="productContainer">
		<div id="productToolBar">
			<div id="chosenBar">
				<div class="headerColumn">
					<p>您已选择:</p>
				</div>
				<div id="chosenItems">
					<div class="chosenItem" hidden>
						<span></span><span class="removeItem" id="itemFilter1">x</span>
					</div>
					<div class="chosenItem" hidden>
						<span></span><span class="removeItem" id="itemFilter2">x</span>
					</div>
					<div class="chosenItem" hidden>
						<span></span><span class="removeItem" id="itemFilter3">x</span>
					</div>
				</div>
			</div>
			<div class="normalBar" ng-repeat="filterGroup in filterGroups" on-finish-render-filters1>
				<div class="headerColumn" id="searchBar{{$index+1}}">
				    <i class="{{filterGroup.groupIcon}}" aria-hidden="true" style="{{filterGroup.style}}"></i>
					<p ng-bind="filterGroup.groupName"></p>
				</div>
				<div class="optionItem" id='{{filter.filterCode}}' ng-repeat="filter in filterGroup.filters track by $index">
					<p ng-bind="filter.filterName"></p>
				</div>
			</div>
		</div>
		<div id="sortBar">
			<div class="sortItem" id="wishName">
				<p>综合</p>
				<i class="fa fa-sort" aria-hidden="true" style="display: none;"></i>
			</div>
			<div class="sortItem" id="wishLevel">
				<p>销量优先</p>
				<i class="fa fa-sort" aria-hidden="true" style="display: none;"></i>
			</div>
			<div class="sortItem" id="sellingPrice">
				<p>价格</p>
				<i class="fa fa-sort" aria-hidden="true" style="display: none;"></i>
			</div>
		</div>
		<div id="loadingDiv">
			<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
		</div>
		<div id="productGrid" hidden>
			<div class="productItem {{itemLayout.positionClass}}" id="{{itemLayout.wishId}}" ng-repeat="itemLayout in itemLayouts" on-finish-render-filters>
				<div class="imageDiv">
					<img src="/js/images/{{itemLayout.imgUrl}}" class="image"></img>
				</div>
				<div class="imageDivMask">
				</div>
				<div class="addToCart" hidden>
					<i class="fa fa-heart-o" aria-hidden="true"></i><span>加入愿望单</span>
				</div>
				<div class="inforDiv">
					<div class="productDesc">
						<p ng-bind="itemLayout.wishName"></p>
					</div>
					<div class="productPrice">
						<p>￥<span ng-bind="itemLayout.sellingPrice.toFixed(0)" class="ourPrice">1000</span></p>
						<p>市场价:￥<span ng-bind="itemLayout.xianenPrice.toFixed(0)" class="originalPrice">1200</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=246 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</div>
</body>
<script type="text/javascript">
var app = angular.module('catagoryApp', []),
    cataFilter,
	queryedFilter,
	wishlistId;
app.directive('onFinishRenderFilters', function ($timeout) {
    return {
        restrict: 'A',
        link: function(scope, element, attr) {
            if (scope.$last === true) {
                $timeout(function() {
                    scope.$emit('ngRepeatFinished');
                });
            }
        }
    };
});
app.directive('onFinishRenderFilters1', function ($timeout) {
    return {
        restrict: 'A',
        link: function(scope, element, attr) {
            if (scope.$last === true) {
                $timeout(function() {
                    scope.$emit('ngRepeatFinished1');
                });
            }
        }
    };
});
app.controller('catagory', function($scope, $http) {
    var handleExists = function(target) {
	    target.addClass("alreadyExist");
		target.find("span")[0].innerText = "已加入愿望单";
		target.find("i").removeClass("fa-heart-o");
		target.find("i").removeClass("fa-spinner fa-pulse fa-3x fa-fw");
		target.find("i").addClass("fa-heart");
		target.find("i").css({
		    'color': "#ed4b83"
		});
	};
	var handleProcessing = function(target) {
	    target.addClass("alreadyExist");
		target.find("i").removeClass("fa-heart-o");
		target.find("i").addClass("fa-spinner fa-pulse fa-3x fa-fw");
	};
	var handleFailed = function() {
	    target.find("i").removeClass("fa-spinner fa-pulse fa-3x fa-fw");
		target.find("i").addClass("fa-times");
	}
    var reloadProducts = function() {
		var queryFilter = productFilter + itemFilter1 + itemFilter2 + itemFilter3 + orderBy + reverse;
		
		if (queryedFilter !== queryFilter) {
		    $("#productGrid").fadeOut();
		    queryedFilter = queryFilter;
		    $("#loadingDiv").animate({
				'height': '120px'
			});
			$http.get("/wish/list"+queryFilter).success(function(response) {
				for (var i=1;i<=response.length;i++) {
					if (i%4 == 0) {
						response[i-1].positionClass = "rowlast";
					}
				}
				$scope.itemLayouts = response;

				if (response.length === 0) {
					$("#loadingDiv").animate({
						'height': '0px'
					});
					$("#productGrid").fadeIn();
				}
			});
		}
	}
    reloadProducts();
	$http.get("/filter/list"+productElementFilter).success(function(response) {
	    var filterGroups = [],
			filterGroup1 = {},
			filterGroup2 = {},
			filterGroup3 = {},
			filters1 = [],
		    filters2 = [],
			filters3 = [];
		for (var i=0;i<response.length;i++) {
			if (response[i].filterLevel === 1) {
				filters1.push(response[i]);
			}
			else if (response[i].filterLevel === 2) {
				filters2.push(response[i]);
			}
			else if (response[i].filterLevel === 3) {
				filters3.push(response[i]);
			}
		}
		if (filters1.length >0) {
			filterGroup1.filters = filters1;
			filterGroup1.groupName = cata.filter1?cata.filter1:'分类:';
			filterGroup1.groupIcon = 'fa fa-tags';
			filterGroup1.style =  'color: #419cca';
			filterGroups.push(filterGroup1);
		}
		if (filters2.length >0) {
			filterGroup2.filters = filters2;
			filterGroup2.groupName = cata.filter2?cata.filter2:'分类:';
			filterGroup2.groupIcon = 'fa fa-bars';
			filterGroup2.style = 'color: #9fae37';
			filterGroups.push(filterGroup2);
		}
		if (filters3.length >0) {
			filterGroup3.filters = filters3;
			filterGroup3.groupName = cata.filter3?cata.filter3:'分类:';
			filterGroup3.groupIcon = 'fa fa-sitemap';
			filterGroup3.style = 'color: #e44885';
			filterGroups.push(filterGroup3);
		}
		$scope.filterGroups = filterGroups;
	});
	$scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
	    $(".productItem").click(function() {
			$(this).removeClass("productWishShadow");
			window.parent.location.href="/productDetail3.html?id="+$(this)[0].id;
		});
		$("body").on("mousedown",".productItem",function() {
			$(this).addClass("productWishShadow");
		});
		$(".imageDivMask").hover(function() {
			var target = $(this).closest(".productItem").find(".addToCart");
			$(".addToCart").each(function() {
			    if (!$(this).hasClass("stopFade")) {
				    $(this).hide();
				}
			});
			setTimeout(function() {
				if (!target.hasClass("stopFade")) {
					target.show();
				}
			}, 1);
		}, function() {
			var target = $(this).closest(".productItem").find(".addToCart");
			setTimeout(function() {
				if (!target.hasClass("stopFade") && !target.hasClass("alreadyExist")) {
					target.hide();
				}
			}, 1);
		});
		$(".addToCart").hover(function() {
			$(this).addClass("stopFade");
		}, function() {
			$(this).removeClass("stopFade");
		});
		$http.get("/wishlist/list").success(function(data) {
		    if (data.length > 0) {
    	        wishlistId = data[0].wishlistId;
				$http.get("/wishlistDetail/getAllWishList?wishlistId="+wishlistId).success(function(response) {
			        for (var i=0;i<response.length;i++) {
					    if ($("#"+response[i].wishId).length > 0) {
					        handleExists($("#"+response[i].wishId).find(".addToCart"));
						}
					}
					$("#loadingDiv").animate({
						'height': '0px'
					});
					$("#productGrid").fadeIn();
			    });
    		}
			else {
				$("#loadingDiv").animate({
					'height': '0px'
				});
				$("#productGrid").fadeIn();
			}
		});
		$(".addToCart").click(function(event) {
		    var itemId = $(this).closest(".productItem")[0].id,
			    selfObject = $(this);
			if (!$(this).hasClass("alreadyExist")) {
			    handleProcessing(selfObject);
			    if (wishlistId!== null && wishlistId!== undefined && wishlistId != "") {
    		        $.ajax({
						url: '/wishlistDetail/addSingleToWish?wishId='+itemId,
						type: 'post',
						contentType: "application/json; charset=UTF-8",
						data: [],
						dataType:'json',
						success:function(data){
							handleExists(selfObject);
						},
						error: function(error) {
							handleFailed(selfObject);
						}
					});
    	        }
				else {
				    window.parent.popupLogInPage();
				}
			}
			event.stopPropagation();
		});
		$(".addToCart").mousedown(function(event) {
		    event.stopPropagation();
		});
	});
	$scope.$on('ngRepeatFinished1', function (ngRepeatFinishedEvent) {
	    $("body").on("click", ".removeItem", function() {
			if ($(this)[0].id === 'itemFilter1') {
				itemFilter1 = '';
			}
			else if ($(this)[0].id === 'itemFilter2') {
				itemFilter2 = '';
			}
			else {
				itemFilter3 = '';
			}
			$(this).closest(".chosenItem").fadeOut();
			reloadProducts();
		});
		$(".normalBar").each(function(idx) {
			$(this).find(".optionItem").click(function() {
				
				if (idx === 0) {
					itemFilter1 = "&filter1="+$(this)[0].id;
					$("#itemFilter1").prev()[0].innerText = $(this).find("p")[0].innerText;
					$("#itemFilter1").closest(".chosenItem").fadeIn();
				}
				else if (idx === 1) {
					itemFilter2 = "&filter2="+$(this)[0].id;
					$("#itemFilter2").prev()[0].innerText = $(this).find("p")[0].innerText;
					$("#itemFilter2").closest(".chosenItem").fadeIn();
				}
				else {
					itemFilter3 = "&filter3="+$(this)[0].id;
					$("#itemFilter3").prev()[0].innerText = $(this).find("p")[0].innerText;
					$("#itemFilter3").closest(".chosenItem").fadeIn();
				}
				reloadProducts();
			});
		});
	});
	$scope.cataName = cata.cataName;
	$scope.cataDesc = cata.cataDesc;
	$scope.catas = catas;
	$scope.iconPic = cata.iconPic;
	$("body").on("click", ".filterIcon", function () {
		var $this = $(this);
		
		if ($this[0].id === "mainPage") {
		    window.location.href='productAndService.html';
		}
        else if (!$this.hasClass("selected")) {
		    window.location.href='catagoryProduct.html?cata='+$this[0].id;
		}
	});
	$(".sortItem").click(function() {
	    $(".sortItem").find("i").hide();
	    if ($(this).find("i").hasClass("fa-sort")) {
		    $(this).find("i").removeClass("fa-sort");
			$(this).find("i").addClass("fa-sort-asc");
			$(this).find("i").show();
			reverse = "";
		}
		else if ($(this).find("i").hasClass("fa-sort-desc")) {
		    $(this).find("i").removeClass("fa-sort-desc");
			$(this).find("i").addClass("fa-sort-asc");
			$(this).find("i").show();
			reverse = "";
		}
		else if ($(this).find("i").hasClass("fa-sort-asc")) {
		    $(this).find("i").removeClass("fa-sort-asc");
			$(this).find("i").addClass("fa-sort-desc");
			$(this).find("i").show();
			reverse = "&reverse=1";
		}
		orderBy = "&orderBy=" + $(this)[0].id;
	    reloadProducts();
	});
});
</script>
<script type="text/javascript">
window.onload=function(){
	$(".productItem").click(function() {
			muskCurrentPage();
	});
};
</script>
</html>