<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<title>念念--产品及服务</title>
<meta name="description" content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" /> 
<meta name="keywords" content="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="content-style-type" content="text/css" /> 
<meta http-equiv="content-script-type" content="text/javascript" /> 
<link href="/component/css/secondLevelMenu.css" rel="stylesheet">
<link href="/css/categoryProduct.css" rel="stylesheet">
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/sliderx.js"></script>
<script src="/js/angular-1.4.0-rc.2/angular.js"></script>
<link href="/js/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">
<link href="/js/productLine.css" rel="stylesheet">
<script src="/js/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="../js/generalUsage.js"></script>
</head>
<script>
function findCata(cataName, catas) {
    for (i =0; i < catas.length; i++) {

		if (catas[i].cataId === cataName) {
		    catas[i].selected = 'selected';
		    return catas[i];
		}
	}
	
}
var length = location.search.length,
type = location.search.substring(6, length),
productFilter = "?generalCode="+type;
var catas = [{
    cataId: 'II-JJ',
	cataName: '骨灰盒',
	cataDesc: '繁花落尽君辞去历尽铅华归于斯',
	cataPic: '/js/images/noun_187249_cc.png',
	iconPic: '/js/images/box@2x.png',
	textPic: '/js/images/111.png'
}, {
    cataId: 'SS',
	cataName: '寿衣',
	cataDesc: '日暖犹记备衣衫阳关一出不觉寒',
	cataPic: '/js/images/noun_178107_cc.png',
	iconPic: '/js/images/clothes@2x.png',
	textPic: '/js/images/112.png'
}, {
    cataId: 'M-S-W',
	cataName: '祭祀随葬',
	cataDesc: '升幡登坛祭几回情深思切忆相随',
	cataPic: '/js/images/Mask + Rectangle 77.png',
	iconPic: '/js/images/clothes copy@2x.png',
	textPic: '/js/images/113.png'
}, {
    cataId: 'G-H-L-T',
	cataName: '礼仪服务',
	cataDesc: '殚精竭虑誓不悔浓情暖意拂心扉',
	cataPic: '/js/images/Group.png',
	iconPic: '/js/images/clothes copy 2@2x.png',
	textPic: '/js/images/114.png'
}, {
    cataId: 'VV-O',
	cataName: '祭扫用品',
	cataDesc: '冢荒碑残殇未歇洒酒折菊栖冥蝶',
	cataPic: '/js/images/noun_193115_cc.png',
	iconPic: '/js/images/clothes copy 3@2x.png',
	textPic: '/js/images/115.png'
}, {
    cataId: 'P-Q-R-U',
	cataName: '套装产品',
	cataDesc: '念念提供了最完整的产品类别和特色服务，这里需要一些介绍的文字这里需要一些介绍的文字',
	cataPic: '/js/images/1452911054_inspiration_Vol.1-61.png',
	iconPic: '/js/images/clothes copy 4@2x.png',
	textPic: '/js/images/1459802223_771171.png'
}, {
    cataId: 'NN-X-N',
	cataName: '其他服务',
	cataDesc: '念念提供了最完整的产品类别和特色服务，这里需要一些介绍的文字这里需要一些介绍的文字',
	cataPic: '/js/images/noun_27116.png',
	iconPic: '/js/images/clothes copy 4@2x.png',
	textPic: '/js/images/otherText.png'
}
];
cata = findCata(type, catas);
</script>
<body ng-app="catagoryApp" ng-controller="catagory">
<div class="container">
<IFRAME NAME="content_frame" width=100% SRC="component/topBar.html?cat=product" frameborder = 0 height = "67px"></IFRAME>
<div>
	<div id="filter">
	    <div id="filterCoat">
	    <div class="filterIcon firstIcon" id="mainPage">
		    <div class="imageHalf">
			    <img class="fakeImg"></img>
			    <img src="/js/images/Layer_1.png" class="iconImg"></img>
			</div>
			<div class="textHalf">
			    <p>首页</p>
			</div>
		</div>
		<div class="filterIcon {{cata.selected}}" id="{{cata.cataId}}" ng-repeat="cata in catas"  ng-cloak>
		    <div class="imageHalf">
			   <img class="fakeImg"></img>
			   <img src="{{cata.cataPic}}" alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			</div>
			<div class="textHalf" ng-cloak>
			    <p>{{cata.cataName}}</p>
			</div>
		</div>
		</div>
	</div>
	<div id="catagoryProduct" ng-cloak>
	    <div id="topBarCoat">
	        <img src="/js/images/Page1@2x.png"></img>
		    <h1>{{cataName}}</h1>
		    <img src="/js/images/Page 1Copy@2x.png"></img>
		</div>
		<div class="bottomLeft">
		    <script>document.write('<img src="'+ cata.iconPic +'"></img>');</script>
		</div>
		<div class="bottomRight">
		    <script>document.write('<img src="'+ cata.textPic +'"></img>');</script>
		</div>
	</div>
</div>
<div class="frameMain">
<h1 class="subHeader">特色产品</h1>
<div id="products" ng-app="catagoryApp" ng-controller="products">
	<div class="carouselProduct" ng-repeat="layouts in subLayouts">
	    <div class="carousel slide productCarousel" id="referenceCarousel{{$index}}">
			<ol class="carousel-indicators">
				<li data-target="#referenceCarousel{{$parent.$index}}" data-slide-to="{{$index}}" class="{{layout.active}}" ng-repeat="layout in layouts track by $index"></li>
			</ol>
            <div class="carousel-inner">
				<div class="item {{layout.active}}" alt="Second slide" ng-repeat="layout in layouts">
	                <div class="productItem {{itemLayout.positionClass}}" id="{{itemLayout.wishId}}" ng-repeat="itemLayout in layout.itemLayout track by $index" on-finish-render-filters>
		                <div class="imageDiv">
						    <img src="/js/images/{{itemLayout.imgUrl}}" class="image" alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
						</div>
						<div class="inforDiv">
						    <h3>{{itemLayout.wishName}}</h3>
							<p>￥{{itemLayout.sellingPrice.toFixed(0)}}</p>
							<span id="feature" hidden>{{itemLayout.feature}}</span>
						</div>
		            </div>
                </div>
            </div>
            <a class="carousel-control left" href="#referenceCarousel{{$index}}" hidden
                data-slide="prev"><div class="arrowCoat"><p class="headerArrow">&lsaquo;</p></div></a>
            <a class="carousel-control right" href="#referenceCarousel{{$index}}" 
                data-slide="next"><div class="arrowCoat"><p class="headerArrow">&rsaquo;</p></div></a>
        </div>
	</div>
</div>
</div>
<div id="case">
    <div id="caseMain">
    <h1>清明时节，寄托思念</h1>
	<h2>我们为您提供了一整套清明祭扫物品...</h2>
	<p><a href="/catagoryProduct.html?cata=VV-O">祭扫物品</a></p>
	
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=246 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</div>
</body>
<script type="text/javascript">
var app = angular.module('catagoryApp', []),
    cataFilter;
function muskPage() {
	    $(this).css({
			    opacity: 0.5
			});
			$('<div class="jquery_addmask"> </div>').appendTo(document.body).css({ 
				position: 'absolute',
				top: '0px',
				left: '0px',
				'z-index': 1000, 
				width: $(document).width(), 
				height: $(document).height(), 
				'background-color': '#ccc', 
				opacity: 0 
			}).fadeIn('slow', function(){ 
	// 淡入淡出效果 
				$(this).fadeTo('slow', 0.5); 
		});
}
function muskPageForProduct(id, type) {
	    var parentWidth = $(".coverDiv").width(),
		    frameWidth = $(".detailFrame").width();
				
		muskPage();
		$(".detailFrame").attr("src","component/productDetail"+ type +".html?id="+id);
		$(".closeCoverDiv").css({
			right: (parentWidth-frameWidth)/2 - 30,
			left: 'auto',
			top: 0
		});
		$(".coverDiv").fadeIn(1000);
};
app.controller('catagory', function($scope, $http) {
	$scope.cataName = cata.cataName;
	$scope.cataDesc = cata.cataDesc;
	$scope.catas = catas;
	$scope.iconPic = cata.iconPic;
	$("body").on("click", ".filterIcon", function () {
		var $this = $(this);
		
		if ($this[0].id === "mainPage") {
		    window.location.href='productAndService.html';
		}
        else if (!$this.hasClass("selected")) {
		    window.location.href='catagoryProduct.html?cata='+$this[0].id;
		}
	});
});
</script>
<script type="text/javascript">
window.onload=function(){
	$(".productItem").click(function() {
			muskPageForProduct();
	});
	$(".closeCoverDiv").click(function() {
		$(".coverDiv").fadeOut();
		$(".jquery_addmask").remove();
		$(".productItem").css({
			 opacity: 1
		});
	});
};
</script>
<script src="../js/productLine.js"></script>
</html>