<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<title>念念--墓地列表</title>
<link href="/js/images/niannian.ico" rel="shortcut icon" />
<meta name="description" content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" /> 
<meta name="keywords" content="公墓,上海公墓,上海墓地,上海墓地价格,葬礼定制,殡葬,上海殡葬,殡葬服务,骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" /> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" /> 
</head>
<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/sliderx.js"></script>
<script src="../js/angular-1.4.0-rc.2/angular.js"></script>
<link href="../js/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">
<script src="../js/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<link href="/js/personal.css" rel="stylesheet">
<script src="/js/generalUsage.js"></script>
<script src="../js/timepicker/js/moment-with-locales.js"></script>
<script src="../js/timepicker/js/bootstrap-datetimepicker.js"></script>
<link href="/css/cemeteryList.css" rel="stylesheet">
<body ng-app="myApp" ng-controller="cemetery">
<div class="topBarDiv">
<IFRAME NAME="content_frame" width=100% SRC="component/topBar.html?cat=cemetery" frameborder = 0 height = "67px"></IFRAME>
</div>
<div class="container" ng-cloak>
<div class="container" ng-cloak>
<div id="mainHeader">
    <div id="headerText">
        <h1>我们和上海多家墓园和寺庙建立了合作，为您提供方便</h1>
	</div>
	<div id="navigateVisit">
		<div style="position: relative;display: inline-block;">
			<input type="text" placeholder="选择墓地/寺庙" id="inputArea">
			</input>
			<input type='text' class="form-control" placeholder="选择预约时间" id='datetimepicker1' />
			<button id="visitButton">
				<p>在线预约</p>
			</button>
			<div id="searchBlurDiv" hidden>
				<div class="stateBar" ng-repeat="result in resultMap">
					<div class="headerCol">
						<span><b ng-bind="result.district"></b></span>
					</div>
					<div class="normalCol">
						<div class="normalCell" id="{{cemetery.cemeteryId}}" ng-repeat="cemetery in result.list track by $index">
							<span ng-bind="cemetery.cemeteryName"></span>
						</div>
					</div>
				</div>
				<div class="subBar">
					<span>如果您不明确该选哪一个，点<a href="catagoryCemetery.html">这里</a>可以看到所有墓地/寺庙一览</span>
				</div>
			</div>
			<div id="typeBlurDiv" hidden>
				<div class="optionBar" id="{{search.cemeteryId}}" ng-repeat = "search in searchList">
					<div class="optionIcon">
						<img src="../js/images/cemeteryList.png"/>
					</div>
					<div class="optionDesc">
						<span class="descMain" ng-bind="search.cemeteryName"></span>
						<span class="descAdd" ng-bind="search.address"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cemeteryList">
	<div class="listContent">
		<h2>根据价格作出最适合的选择</h2>
	    <div  ng-click="gotoCemeteryQuery('11')" class="cemeteryDiv single">
		 <img  src="/js/images/cemeteryGroup6.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
		  <div class="ceMuskDiv"></div>
		  <span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>经济实惠</h1></span>
            <span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h5>￥50000-￥60000</h5></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('12')" class="cemeteryDiv single">
			<img  src="/js/images/cemeteryGroup7.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>适中之选</h1></span>
            <span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h5>￥50000-￥60000</h5></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('13')" class="cemeteryDiv single">
			<img  src="/js/images/cemeteryGroup5.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>精致奢华</h1></span>
            <span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h5>￥50000-￥60000</h5></span>
		</div>
	</div>
    <div id="viewAllButton">
        <span>查看所有墓地</span>
    </div>
	<div class="listContent">
		<h2>也有各种特色作为选择</h2>
		<div  ng-click="gotoCemeteryQuery('31')" class="cemeteryDiv double">
			<img  src="/js/images/cemeteryGroup3.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>依山傍水</h1></span>
		</div>
		<div  ng-click="gotoCemetery(24)" class="cemeteryDiv single">
			<img  src="/js/images/1459273174457_ed866656d3996edf710c93446037a0bf.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>淀山湖归园</h1></span>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h5>青浦区</h5></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('32')" class="cemeteryDiv single">
			<img  src="/js/images/cemeteryGroup1.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>佛光寺影</h1></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('33')" class="cemeteryDiv single">
			<img  src="/js/images/cemeteryGroup8.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>风水宝地</h1></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('34')" class="cemeteryDiv single">
			<img  src="/js/images/cemeteryGroup4.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>园林景致</h1></span>
		</div>
		<div  ng-click="gotoCemetery(30)" class="cemeteryDiv single">
			<img  src="/js/images/1459309096468_14.png"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>华夏公墓</h1></span>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h5>松江区</h5></span>
		</div>
		<div  ng-click="gotoCemeteryQuery('35')" class="cemeteryDiv double">
			<img  src="/js/images/cemeteryGroup2.jpg"  alt="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制"></img>
			<div class="ceMuskDiv"></div>
			<span style="position: relative; top: -100; left: 0; background-color:#ffffff;"><h1>名仕聚贤</h1></span>
		</div>
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=246 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</div>
</body>
<script type="text/javascript">
	var app = angular.module('myApp', []),
	    cemeteryListBean,
		visitId;
	app.directive('onFinishRenderFilters', function ($timeout) {
	    return {
	        restrict: 'A',
	        link: function(scope, element, attr) {
	            if (scope.$last === true) {
	                $timeout(function() {
	                    scope.$emit('ngRepeatFinished');
	                });
	            }
	        }
	    };
	});
	app.controller('cemetery', function($scope, $http) {
		muskCurrentPage();
        var searchList = [];
		var alertOptions = function (value) {
			$scope.searchList = [];
			for (var i=0;i < searchList.length;i++) {
				if ($(this)[0].value !== "") {
					var hasValue = false;
					$("#searchBlurDiv").fadeOut();
					if (searchList[i].cemeteryName.indexOf(value) >= 0
							|| searchList[i].address.indexOf(value) >= 0
							|| searchList[i].pinyin.indexOf(value) >= 0) {
						$scope.searchList.push(searchList[i]);
						hasValue = true;
					}
					if (hasValue) {
						$scope.$apply();
						$("#typeBlurDiv").fadeIn();
					}
				}
				else {
					$("#typeBlurDiv").fadeOut();
					$("#searchBlurDiv").fadeIn();
				}
			}
		}
	 	$http.get("/cemetery/listByDistrict?valid=1").success(function(response) {
			var resultMap = [];
			for (var p in response) {
				var result = {};
				result.district = p.replace('上海市','');
				result.list = response[p];
				resultMap.push(result);
                for (var i=0;i < response[p].length;i++) {
                    searchList.push(response[p][i]);
                }
			}
			$scope.resultMap = resultMap;
            unmusk();
        });
        $("#inputArea").bind('input propertychange', function() {
			if ($(this)[0].value !== '') {
				alertOptions($(this)[0].value);
			}
			else {
				$("#typeBlurDiv").hide();
				$("#searchBlurDiv").fadeIn();
			}
        });
	 	$scope.gotoCemetery = function(id){
			window.open('cemetery/'+id);
	 	}
		$scope.gotoCemeteryQuery = function(id) {
			window.location.href='cemetery/g/'+id;
		}
		$("#inputArea").focus(function() {
			if ($("#inputArea")[0].value === '') {
				$("#searchBlurDiv").fadeIn();
			}
			else {
				alertOptions($("#inputArea")[0].value);
			}
		});
		$("#inputArea").blur(function() {
			if ($(this)[0].value !== '') {
				if ($scope.searchList.length === 1) {
					$(this)[0].value = $scope.searchList[0].cemeteryName;
					visitId = $scope.searchList[0].cemeteryId;
				}
			}
			$("#typeBlurDiv").fadeOut();
		});
	});
</script>
<script>
	$('#datetimepicker1').datetimepicker({
		format: "YYYY-MM-DD",
		locale: "zh-cn"
	});
	$("#visitButton").click(function(e) {
		if (visitId === null || visitId === undefined) {
			$("#inputArea").focus();
			e.stopPropagation();
		}
		else if ($("#datetimepicker1")[0].value === '') {
			$("#datetimepicker1").focus();
			e.stopPropagation();
		}
		else {
			sendVistReuqest(visitId, $("#datetimepicker1")[0].value, '');
		}
	});
    $("#typeBlurDiv").on("click", ".optionBar", function() {
        $("#inputArea")[0].value = $(this).find(".descMain")[0].innerText;
		visitId = $(this)[0].id;
        $("#typeBlurDiv").fadeOut();
    });
    $("#searchBlurDiv").on("click", ".normalCell", function(e) {
        $("#inputArea")[0].value = $(this).find("span")[0].innerText;
        $("#searchBlurDiv").fadeOut();
		visitId = $(this)[0].id;
        e.stopPropagation();
    });
    $(document).click(function(e){
        if (e.toElement.offsetParent !== $("#searchBlurDiv")[0]
            && e.toElement !== $("#inputArea")[0]) {
            $("#searchBlurDiv").fadeOut();
        }
    });
	$(".cemeteryDiv").hover(function() {
		$(this).find(".ceMuskDiv").css({
			opacity: 0.1
		});
	}, function() {
		$(this).find(".ceMuskDiv").css({
			opacity: 0.6
		});
	});
	$("#viewAllButton").click(function() {
		window.location.href='catagoryCemetery.jsp';
	});
</script>
</html>