<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>念念--葬礼定制</title>
<link href="/js/images/niannian.ico" rel="shortcut icon" />
<meta name="description"
	content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" />
<meta name="keywords"
	content="殡仪,殡葬,暴利,葬礼定制,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" />
<link href="/css/designProposal.css" rel="stylesheet"></link>
<link href="/component/css/secondLevelMenu.css" rel="stylesheet"></link>
<script src="/js/generalUsage.js"></script>
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/sliderx.js"></script>
<script src="/js/angular-1.4.0-rc.2/angular.js"></script>
<script src="/js/Bootstrap/boot.js"></script>
<script src="/js/libs.baidu.com/jquery/1.10.2/jquery.js"></script>
<script src="/js/apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="/js/apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="/js/generalUsage.js"></script>
<link rel="stylesheet"
	href="/js/Font-Awesome-4.4.0/css/font-awesome.min.css"></link>
</head>
<link href="/js/personal.css" rel="stylesheet"></link>
<body>
<div class="container">
    <IFRAME NAME="content_frame" width=100% SRC="component/topBar.html?cat=design" frameborder = 0 height = "67px"></IFRAME>
   	<div class="second_nav">
		<div id="subNavilink">
		 <link1><a href="/funeralDesignPage.html" class="firstLink">为什么要定制葬礼</a>  </link1>
		 <link2><a href="/howItWorks.html">怎样在念念定制葬礼      </a>  </link2>
		 <link4><a href="/designProposal.html" style="font-weight:900;">选择定制方案</a>  </link4>
		</div>  
	</div>

<div id="mainContent">
   
    <div class="topContent">
   
   
    <div id="headerMessage">
	    <h2 id="headerMesText">选择适合您的定制方案</h2>
	    <h3>请选择下面几项服务中的一项或多项，我们会为您选择合适的方案</h3>
	</div>
	<!--for tab-->
	<div id="designTaocan">
        <div id="taocan1" class="designTaocanIconDiv firstIconDiv">
			<h3>葬礼策划</h3>
		</div>
		<div id="taocan2" class="designTaocanIconDiv">
			<h3>精选鲜花</h3>
		</div>
		<div  id="taocan3" class="designTaocanIconDiv">
		    <h3>法事超度</h3>
		</div>
		<div id="taocan4" class="designTaocanIconDiv">
		    <h3>追悼会</h3>
		</div>
		<div id="taocan5" class="designTaocanIconDiv">
		    <h3>入殓师</h3>
		</div>
		<div id="taocan6" class="designTaocanIconDiv">
		    <h3>私人订制</h3>
		</div>
	</div>
    </div>
    <div id="lockedTocanDiv" hidden>
        <div id="compareLocked">
            <p>比较方案</p>
        </div>
        <div class="taocanIconDivInRow basic">
			<div class="iconChild">
			    <h2 class="designHeaderText">基础</h2>
		        <h4>￥6500起<h4>
			</div>
		</div>
		<div class="taocanIconDivInRow good">
			<div class="iconChild">
			    <h2 class="designHeaderText">精品</h2>
		        <h4>￥10500起<h4>
			</div>
		</div>
		<div class="taocanIconDivInRow better">
			<div class="iconChild">
			    <h2 class="designHeaderText">豪华</h2>
		        <h4>￥19500起<h4>
			</div>
		</div>
		<div class="taocanIconDivInRow best">
			<div class="iconChild">
			    <h2 class="designHeaderText">顶级</h2>
		        <h4>￥33000起<h4>
			</div>
		</div>
    </div>
	<div id="compareForm" ng-app="myApp" ng-controller="wishTypeLevels" ng-cloak>
	    <div class= "includeDiv1">
	    <ul class="descRow">
		    <li class="headerLineLeft">
			 <p>比较</p>
			</li>
		<li class="normalHeaderLineLeft">
			    <p></p>
			</li>
				<li style="{{wishCate.style}}" ng-repeat="wishCate in wishCates">
			    <p class="messageInRow" style="{{wishCate.fontStyle}}">{{wishCate.cateName}}</p>
			</li>
			<li class="normalHeaderLine">
			    <p></p>
			</li>
		</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		  <div class= "includeDiv2">
	    <ul class="descRow">
		    <li class="headerLineRight">
			   			 <p>方案</p>

			</li>
			<li class="normalHeaderLineRight">
			    <p></p>
			</li>
			
				<li class="normalLine" ng-repeat="cateSub in cateSubs">
			    <p class="messageInRow"  >{{cateSub.wishName	}}</p>
			</li>
		<li class="normalHeaderLine">
			    <p></p>
			</li>
		</ul>
		</div>
		
		
		
		
		
		<div id="basic" class= "includeDataDivBasic proposalBar">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
				    <div class="iconChild">
			            <h2 class="designHeaderText">基础</h2>
		                <h4>￥6500起<h4>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最为经济合算的方案<br/>比较低的成本定制专属葬礼</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
			    	   <img src="/js/images/tick.jpg" class="fakeImg"></img>
			        <img src="{{cateSub.url01}}" class="tickImg"></img>
				</div>
			</li>
		
		
		
			<li>
			    <div class="submitArea">
				    <button id="basicButton"><p>选择此方案</p></button>
				</div>
			</li>
		
		</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		<div id="good" class= "includeDataDivGood proposalBar">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">精品</h3>
		                <h4>￥10500起<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最受欢迎的方案<br/>灵活的安排各项葬礼细节</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
				    <img src="/js/images/tick.jpg" class="fakeImg" alt=""></img>
			        <img src="{{cateSub.url02}}" class="tickImg" ></img>
				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button id="goodButton"><p>选择此方案</p></button>
				</div>
			</li>
		</ul>
		</div>
		
		
		
		
		
		<div id="better" class= "includeDataDivBetter proposalBar">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">豪华</h3>
		                <h4>￥19500起<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最大气的方案，为<br/>您爱的人举办高规格的仪式</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
		<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">
				    <img src="/js/images/tick.jpg" class="fakeImg"></img>
			        <img src="{{cateSub.url03}}" class="tickImg"  ></img>
				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button id="betterButton"><p>选择此方案</p></button>
				</div>
			</li>
		</ul>
		</div>
		<div id="best" class= "includeDataDivBest proposalBar">
		<ul class="valueRow">
		    <li class="headerLine">
			    <div class="taocanIconDivInRow">
			        <div class="iconChild">
			            <h2 class="designHeaderText">顶级</h3>
		                <h4>￥33000起<h5>
					</div>
		        </div>
			</li>
			<li class="normalHeaderLine">
			    <table class="normalLineText">
　　                <tr>
　　                    <td style="vertical-align:middle;">
                            <p>最奢侈的方案，<br/>举办无上规格的仪式</p>
                        </td>
　　                </tr>
　　            </table>
			</li>
			<li class="normalLine"  ng-repeat="cateSub in cateSubs">
			    <div class="imgDiv">   <img src="/js/images/tick.jpg" class="fakeImg"></img>
				  			        <img src="{{cateSub.url04}}" class="tickImg"></img>

				</div>
			</li>
			<li>
			    <div class="submitArea">
				    <button  id="bestButton" ><p>选择此方案</p></button>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=246 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</div>
</body>
<script type="text/javascript" src="/js/furneral/designProposal.js"></script>
<script type="text/javascript">
	$(window).scroll(function(){
		var topPosition = document.body.scrollTop;
		if (topPosition > 600) {
			$("#lockedTocanDiv").show();
		}else {
			$("#lockedTocanDiv").hide();
		}
	});
</script>
</html>