<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head">
<meta name="description" content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" /> 
<meta name="keywords" content="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>
葬礼定制
</title>
</head>
<link href="/css/needLogIn.css" rel="stylesheet">
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/md5.js"></script>
<link href="/js/Bootstrap/boot.css" rel="stylesheet">
<link href="/js/generalUsage.js" rel="stylesheet">
<script src="component/validation/index.js"></script>
<link href="component/validation/details.css" rel="stylesheet" type="text/css" />
<body>
<div class="topBarDiv">
<IFRAME NAME="content_frame" width=100% SRC="component/topBar.html?cat=main" frameborder = 0 height = "67px"></IFRAME>
</div>
<div id="loginMain">
    <div id="topPart">
	    <div id="mainTitle">
		    <p>登录</p>
		</div>
	</div>
	<div id="inputArea">
	    <div id="errorContentCoat">
	        <div id="errorContent" hidden><p></p></div>
		</div>
	    <input type="text" class="form-control" placeholder="邮件或电话"  ng-model="user.userName" id="userName"></input>
		<input type="password" class="form-control" placeholder="密码" ng-model="user.password" id="password"></input>
		<div id="remember">
		    <input type="checkbox" id="saveCookie"><span>记住密码</span>
		</div>
		<div class="ddetails-header">
			<div class="ddetails-con">
				<div id="code" >
					<input type="hidden"  id="J_down" data-link="http://sc.chinaz.com/">
					<div class="checkcode">
						<input type="text" id="J_codetext" placeholder="请输入验证码！" maxlength="4">
						<canvas class="J_codeimg" id="myCanvas" onclick="createCode()">
							Your browser does not support the canvas element.
						</canvas>
					</div>
				</div>
			</div>
        </div>
		<div id="submit">
		    <p>登录</p>
		</div>
		<div id="forget">
		    <p>忘记密码</p>
		</div>
		<div id="alreadyHas">
		    <p>新用户？请注册</p>
		</div>
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=294 marginwidth=0 marginheight=0 SRC="component/bottomBar.html" frameborder = 0></IFRAME>
</body>
<script>
function setCookie(name,value,hours,path){  
    var name = escape(name);  
    var value = escape(value);  
    var expires = new Date();  
    expires.setTime(expires.getTime() + hours*3600000);  
    path = path == "" ? "" : ";path=" + path;  
    _expires = (typeof hours) == "string" ? "" : ";expires=" + expires.toUTCString();  
    document.cookie = name + "=" + value + _expires + path;  
}
function getCookieValue(name){  
    var name = escape(name);  
    var allcookies = document.cookie;         
    name += "=";  
    var pos = allcookies.indexOf(name);

    if (pos != -1){  
        var start = pos + name.length; 
        var end = allcookies.indexOf(";",start);  
        if (end == -1) end = allcookies.length;
        var value = allcookies.substring(start,end);
        return unescape(value);      
    }
    else return ""; 
}
function getCookie() {
    var userNameValue = getCookieValue("userName");  
    $("#userName")[0].value = userNameValue;  
    var passwordValue = getCookieValue("password");  
    $("#password")[0].value = passwordValue; 
}
function validateValid(content) {
    var emailFilter  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/,
	    phoneFilter = /^1\d{10}$/,
		message;
	if (content === "") {
	    return true;
	}
    if (emailFilter.test(content)) {
	    $("#errorContent").fadeOut();
	    return true;
	}

	if (phoneFilter.test(content)){
	    $("#errorContent").fadeOut();
	    return true;
	}
	$("#errorContent").find("p")[0].innerText = '您的用户名格式不正确';
	$("#errorContent").fadeIn();
	$("#userName")[0].focus();
	return false;
}
window.onload = function() {
    var length = location.search.length,
	    backUrl = location.search.substring(11, length);
	    
	    
	    
	$("#alreadyHas").click(function() {
	    window.location.href='needSignIn.html';
	});
	
	$("#forget").click(function() {
		if(backUrl==null||backUrl==""){
		window.location.href='changePassword.html'
		}else{
	    window.location.href='changePassword.html?returnUrl='+backUrl;
	}
	});
	$("#userName").blur(function() {
        if (!validateValid($(this)[0].value)) {
		    return false;
		}
		$.ajax({
		    url: '/sign/validate?userName='+$(this)[0].value,
			type: 'POST',
			contentType: "application/json; charset=UTF-8",
			dataType:'json',
			data: [],
			success:function(data){
                var resultCode =data.resultCode;

				if (resultCode === 0) {
	                $("#errorContent").find("p")[0].innerText = '账户不存在';
	                $("#errorContent").fadeIn();
					$("#userName")[0].focus();
				}
				else {
				    $("#errorContent").fadeOut();
				}
		    },
			error: function(error) {
			}
		});
	});
	$("#submit").click (function() {
        var userNameValue = $("#userName")[0].value;
        var passwordValue = $("#password")[0].value;
		
		if (userNameValue === "") {
		    $("#errorContent").find("p")[0].innerText = '用户名不能为空';
	        $("#errorContent").fadeIn();
			$("#userName")[0].focus();
			return false;
		}
		else if (passwordValue === ""){
		    $("#errorContent").find("p")[0].innerText = '密码不能为空';
	        $("#errorContent").fadeIn();
			$("#password")[0].focus();
			return false;
		}
		if (!validate()) {
		    return false;
		}
        if( $("#saveCookie")[0].checked){
            setCookie("userName",$("#userName")[0].value,24,"/");  
            setCookie("password",$("#password")[0].value,24,"/");  
        }
		$.ajax({
		    url: '/login/verifyLogin?userName='+userNameValue+"&password="+hex_md5(passwordValue),
			type: 'GET',
			contentType: "application/json; charset=UTF-8",
			dataType:'json',
			success:function(data){
                var resultCode =data;

				if (resultCode === 1) {
	                $("#errorContent").fadeOut();
	      if(backUrl==null||backUrl==""){
	    	window.location.href='/mainPage.html';
	    	}else{ window.location.href=backUrl;
	    		}
				}
				else if (resultCode === -4) {
				    $("#errorContent").find("p")[0].innerText = '账号被锁定，请在半小时后登录';
	                $("#errorContent").fadeIn();
					$("#userName")[0].focus();
				}
				else if (resultCode === -3) {
					$("#errorContent").find("p")[0].innerText = '账号密码不匹配';
	                $("#errorContent").fadeIn();
					$("#userName")[0].focus();
				}
		    },
			error: function(error) {
			}
		});
    });
	getCookie();
}
</script>
</html>