<!DOCTYPE html >
<head id="head">
<title>念念--付款确认</title>
<meta name="description" content="念念网致力于打造智能葬礼产品和服务定制工具。念念主张“不要让你爱的人走的太匆忙”，鼓励充分尊重逝者意愿的提前定制，已实现“殡葬服务价格透明化、互联网化、个性化”为己任 。念念，也是中国最大的日系骨灰盒骨灰坛销售公司，最有特色的祭扫祭祀用品服务商。" /> 
<meta name="keywords" content="念念,念念网,葬礼定制,殡葬,上海殡葬,殡葬服务,上海墓地， 骨灰盒，骨灰坛，寿衣，日本骨灰盒，葬礼花费，佛事服务，私人定制，生前契约，葬礼保险,提前定制" /> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" /> 
</head>
<link href="/css/paymentConfirm.css" rel="stylesheet">
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/sliderx.js"></script>
<script src="/js/angular-1.4.0-rc.2/angular.js"></script>
<link href="/js/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">
<link href="/css/paymentConfirm.css" rel="stylesheet">
<script src="/js/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/js/generalUsage.js"></script>
<script type="text/javascript">
	var length = location.search.length;
var wishOrderId= location.search.substring(13, length);
var setWishOrderId="";
	
  var app = angular.module('productApp', []);
	
	
  app.controller('product', function($scope, $http) {
  	
  	$scope.orderDetailForWishList;
  	
  	$scope.message="查看套餐详细信息";

  	$scope.displays="display:none";
  	
  	 $scope.shoppingCart;
	   $http.get("/shoppingCartController/getShoppingCartForPayMentConfirm?wishOrderId="+wishOrderId).success(function(response) {
	    $scope.shoppingCart = response;
	    
	   
	    $("#pay"+$scope.shoppingCart.payMethod).attr("checked",'checked');   
	
	
	
	    if($scope.shoppingCart.orderDetailForWishList==null||$scope.shoppingCart.orderDetailForWishList.length==0||$scope.shoppingCart.setFee==0)
	    {
	    	
	    		    $scope.display="display:none";
	    		    $("#pay1").attr("disabled",'true');   
	    		    $("#pay2").attr("checked",'checked');   
	    		    $("#pay3").attr("disabled",'true');   
	    	}
	    	
	   if($scope.shoppingCart.orderDetailForCartList==null||$scope.shoppingCart.orderDetailForCartList.length==0) {
	   	
	   	 $("#pay1").attr("disabled",'true');   
	     $("#pay2").attr("disabled",'true');   
	     $("#pay3").attr("checked",'checked');   
	   	
	   	}	
	    	
	    setWishOrderId=$scope.shoppingCart.setWishOrderId;
	    
	    });
  	 
  	 
  	 
  	 $scope.display = function(){
  	 	
		if($scope.orderDetailForWishList==null){
			$scope.orderDetailForWishList= $scope.shoppingCart.orderDetailForWishList;
			$scope.message="收起套餐详情"
			$scope.displays="";
		}else{
			$scope.orderDetailForWishList=null;
			$scope.displays="display:none;";
			$scope.message="查看套餐详情"

			}
	}	 
  	 
  	 $scope.payMethod = function(payMethod){
	 $http.get("/shoppingCartController/payMethod?wishOrderId="+wishOrderId+"&payMethod="+payMethod).success(function(response) {
	    $scope.newShoppingCart = response;
	    
	    $scope.shoppingCart.grossFee=response.grossFee;
	    $scope.shoppingCart.netFee=response.netFee;
	    setWishOrderId=$scope.shoppingCart.setWishOrderId;

	    
	    });
		
		
	}
  	 
	    
    });
	
	
	$("#nextButton").click(function() {
	    var datadata = JSON.stringify($scope.curUser);
	    
	  //  alert(" datadata = "+datadata);
	    $http({
            method: "POST",
            url:"/expressController/add",
            data: datadata,
			headers: {
                'Content-Type': 'application/json'
            },
			dataType:"json"
        }).success(function(){
        });
	});
	
	
</script>

<body ng-app="productApp" ng-controller="product">
<div class="topBarDiv">
<IFRAME NAME="content_frame" width=100% SRC="/component/topBar.html?cat=product" frameborder = 0 height = "68px"></IFRAME>
</div>
<div class="container">
<div id="paymentContain">
    <div id="infoContain">
	    <div id="paymentStatus">
		     <div class="statusPointer selected">
			 </div>
			 <div class="statusBar selected">
			 </div>
			 <div class="statusPointer selected">
			 </div>
			 <div class="statusBar">
			 </div>
			 <div class="statusPointer">
			 </div>
			 <div class="statusBar">
			 </div>
			 <div class="statusPointer">
			 </div>
		</div>
		<div id="paymentStatusDesc">
		     <div class="descDiv first">
			     <p class="selected">寄送</p>
			 </div>
			 <div class="descDiv second">
			     <p class="selected">确认</p>
			 </div>
			 <div class="descDiv">
			     <p>支付</p>
			 </div>
			 <div class="descDiv last">
			     <p>核对</p>
			 </div>
		</div>
	</div>
	
<div id="confirmContain">
	    <div id="confirmationInfo">
		    <div id="confirmLeft">
			    <div class="titleText"  style={{display}}>
			        <p>套餐购买总结</p>
				</div>
			    <div class="singleConfirmTitle" style={{display}}>
				    <span class="itemName">项目</span><span class="itemPrice">价格</span><span class="itemAmout">数量</span>
				</div>
				<div class="taocanDiv" style={{display}}>
				    <div class="singleConfirm">
						<span class="itemName">{{shoppingCart.wishListJson.levelDesc}}</span><span class="itemPriceValue">￥{{shoppingCart.setFee}}</span><span class="itemAmoutValue">{{shoppingCart.wishListJson.amount}}套</span>
					</div>
				    <div class="taocanDesc">
					    <div class="descTop">
						    <p>您的套餐包含:</p>
						</div>
						
						 
						<div class="descBottom">
						    <p>{{shoppingCart.wishListJson.servicesAmount}}项服务，我们会有专门的人员给您提供这些服务。</p>
							<p>{{shoppingCart.wishListJson.goodsAmount}}项物品，其中有{{shoppingCart.wishListJson.goodsAmount}}项物品{{shoppingCart.expressBean.expressDescription}}。</p>
						
							<div class="open" style="cursor:pointer" ng-click="display()"><span class="itemName">{{message}}</span></div>
							
						
							<div class="singleConfirmTitle" style={{displays}}>
				    <span class="itemName">项目</span><span class="itemPrice">价格</span><span class="itemAmout">数量</span>
				</div>
				<div class="singleConfirm" ng-repeat="wishListDetail in orderDetailForWishList" style={{displays}}>
					<span class="itemName">{{wishListDetail.wishName}}</span><span class="itemPriceValue">￥{{wishListDetail.price}}</span><span class="itemAmoutValue">{{wishListDetail.count}}</span>
				</div>
						
						</div>
					</div>
				</div>
				<div class="titleText">
			        <p>附加产品和服务购买总结</p>
				</div>
				<div class="singleConfirmTitle">
				    <span class="itemName">项目</span><span class="itemPrice">价格</span><span class="itemAmout">数量</span>
				</div>
				<div class="singleConfirm" ng-repeat="wishListDetail in shoppingCart.orderDetailForCartList"  >
					<span class="itemName">{{wishListDetail.wishName}}</span><span class="itemPriceValue">￥{{wishListDetail.price}}</span><span class="itemAmoutValue">{{wishListDetail.count}}</span>
				</div>
						</div>
		<div id="confirmRight">
			 <div class="titleText">
			 </div>
				 <div class="titleText">
			 </div>
			   <div class="titleText">
			 </div>
				
				 <div class="titleText">
			 </div>
			  <div class="titleText">
			 </div>
			 
			   <div class="titleText">
			 </div>
				
				 <div class="titleText">
			 </div>
			  <div class="titleText">
			 </div>
			<div class="titleText" style={{display}}>
			<span  style="font-size: 17px;line-height: 1.5;color: #2e2e2e;font-weight: bold;"> <input type="radio" name="pay"  id="pay1"  value="1" checked   ng-click="payMethod(1)">同时支付购物车和套餐费</span> 			
				</div>
			
			 <div class="titleText" style={{display}}>
			   <span style="font-size: 17px;line-height: 1.5;color: #2e2e2e;font-weight: bold;">  <input type="radio" name="pay"  id="pay2"  value="2" ng-click="payMethod(2)">只支付购物车，先不支付套餐</span> 		

				</div>
			
			<div class="titleText" style={{display}}>
			   <span style="font-size: 17px;line-height: 1.5;color: #2e2e2e;font-weight: bold;">  <input type="radio" name="pay"  id="pay3"  value="3" ng-click="payMethod(3)">只支付套餐，先不支付购物车</span> 		

				</div>
			
			</div>
		</div>
		<div id="priceInfo">
		    <div class="discountDiv">
		    <input type="text" class="form-control" id="discount" placeholder="折扣码"></input>
			</div>
			<div class="summ">
			    <p class="title">小计</p>
				<p>￥{{shoppingCart.grossFee}}</p>
			</div>
			<div class="summ">
			    <p class="title">邮寄</p>
				<p>￥{{shoppingCart.expressFee}}</p>
			</div>
			<div class="summ">
			    <p class="title">总计</p>
				<p class="final">￥{{shoppingCart.netFee}}</p>
			</div>
		</div>
	
	</div>
	
	<div id="expressContain">
	  
				<div class="singleConfirmTitle">
				    <span>寄送地址:<font style="font-size: 17px;line-height: 2;color: #2e2e2e">&nbsp;{{shoppingCart.expressBean.expressInfo.receiverName}},{{shoppingCart.expressBean.province+shoppingCart.expressBean.expressInfo.city+shoppingCart.expressBean.expressInfo.detailAddress}}</font></span>
				    
				 
				</div>
				
				<div class="singleConfirmTitle">
				    <span >寄送方式:<font style="font-size: 17px;line-height: 2;color: #2e2e2e">&nbsp;{{shoppingCart.expressBean.expressTitle}}{{shoppingCart.expressBean.expressDescription}}</font></span>
				</div>
				
			
			</div>	
		
		</div>
	
	<div id="footerContain">
	    <div id="footer">
		    <div id="prevButton">
			    <p>返回</p>
			</div>
		    <div id="nextButton">
			    <p>下一步</p>
			</div>
		</div>
	</div>
</div>
<IFRAME NAME="content_frame" width=100% height=246 marginwidth=0 marginheight=0 SRC="/component/bottomBar.html" frameborder = 0></IFRAME>
</div>
<div class="coverDiv" hidden>
<div class="titleDiv">
<h1>物品详细信息</h1>
</div>
<IFRAME class="detailFrame" width=1165px marginwidth=0 marginheight=0 SRC="#" frameborder = 0></IFRAME>
<div class="closeCoverDiv"><span class="glyphicon glyphicon-remove"></span></div>
</div>
</body>
<script>

window.onload=function(){
    $(".singleConfirm:odd").css({
	    'background': '#f7f7f7'
	});
	$("#prevButton").click(function () {
	    window.location.href='paymentInfo.html?wishOrderId='+wishOrderId;
	});
	$("#nextButton").click(function () {
	    window.location.href='paymentMethod.html?wishOrderId='+wishOrderId+"&setWishOrderId="+setWishOrderId;
	});
};
</script>
</html>