@media (min-width: 1080px) {
  .container {
    width: 100%!important;
	padding: 0px!important;
	min-width: 1000px;
  }
}
@media (max-width: 1080px) {
    .container {
        width: 1280px!important;
        padding: 0px!important;
    }
}
.coverDiv {
    height: auto;
	width: 100%;
	top: 60px;
	bottom: 60px;
	text-align: center;
	position: fixed;
	z-index: 1001;
}
.coverDiv .detailFrame {
    height: 100%;
}
.closeCoverDiv {
	position: absolute;
	top: 0px;
	width: 35px;
	height: 35px;
	border-radius: 17px;
	border: 2px solid #979797;
	color: #979797;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	opacity: 0.5;
}
.closeCoverDiv:hover {
	opacity: 1;
}
#mainHeader {
    width: 100%;
	height: 400px;
	text-align: center;
	padding-top: 160px;
	background: -webkit-radial-gradient(#ef8391, #db5f34);
    background: -o-radial-gradient(#ef8391, #db5f34);
    background: -moz-radial-gradient(#ef8391, #db5f34);
    background: radial-gradient(#ef8391, #db5f34);
}
#mainHeader h1 {
    font-size: 47px;
	color: #ffffff;
	margin: 0px;
}
	#rightGuide p {
	    color: #5b5b5b;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	#case {
	    width: 100%;
		height: 420px;
		padding-top: 86px;
		background: #000000;
		background-image: url('/js/images/qingming_img.jpg');
		background-position: center;
        background-size: 100% 120%;
	}
	#case a{
	    cursor: pointer;
	}
	#caseMain {
	    width: 1120px;
	    margin: 0px auto;
	    text-align: left;
	}
	#case h1 {
	    font-size: 44px;
		line-height: 44px;
		margin: 0px;
		margin-bottom: 20px;
		color: #ffffff;
	}
	#case h2 {
	    font-size: 20px;
		line-height: 32px;
		margin: 0px;
		width: 420px;
		color: #ffffff;
	}
	#case p {
	    font-size: 20px;
		line-height: 16px;
		margin: 0px;
		width: 420px;
		color: #ff5274;
		margin-top: 20px;
	}
	#filter {
	    width: 100%;
		background: #f2f2f2;
		box-shadow: 0px 2px 4px 0px RGBA(162,162,162,0.5);
		padding-top: 12px;
		height: 130px;
	}
	.filterIcon {
	    float: left;
		width: 92px;
		height: 106px;
		border-radius: 7px;
		margin-left: 25px;
		cursor: pointer;
	}
	#filterCoat {
	    width: 912px;
	    margin: 0px auto;
	    overflow: auto;
	}
	.firstIcon {
	    margin-left: 0px;
	}
	.filterIcon:hover {
	    background-color: #e8e8e8;
	}
	.selected {
	    background-color: #e8e8e8;
	}
	.imageHalf {
	    text-align: bottom;
		width: 100%;
		height: 72%;
		text-align: center;
	}
	.fakeImg {
	    height:100%;
		width: 0px;
	}
	.iconImg{
		top: 20px;
		vertical-align:middle
	}
	.textHalf {
	    text-align :center;
		height: 28%;
		width: 100%;
	}
	.textHalf p{
	    color: #5b5b5b;
		font-size: 16px;
		margin: 0px;
	}
	#catagoryProduct {
	    width: 100%;
		height: 350px;
		color: #ffffff;
		background-image: url('/js/images/a_spot_background@2x.jpg');
        padding-top: 30px;
        text-align: center;
        background-size: 100% 100%;
        overflow: hidden;
	}
	#topBarCoat img {
	   width: 100px;
	}
	#catagoryProduct h1 {
	    font-size: 30px;
		text-align: center;
		line-height: 40px;
		margin: 0px;
	}
	.bottomLeft {
	    float: left;
		width: 50%;
		height: 290px;
		padding-top: 30px;
	}
	.bottomLeft img {
	    float: right;
        margin-right: 100px;
        height: 120px;
	}
	.bottomRight {
	    float: left;
		width: 200px;
		height: 290px;
		padding-left: 40px;
		padding-top: 40px;
	}
	.bottomRight p {
	    font-size: 18px;
	    line-height: 25px;
		width: 140px;
	}
	.productContainer {
	    width: 1200px;
		margin: 0px auto;
	}
	html {
		color: #777;
		background-color: #f8f8f8;
	}
	div {
	    box-sizing: border-box;
	}
	p, span {
	    margin: 0px;
		padding: 0px;
		font-size: 13px;
	}
	#productToolBar {
	    background-color: #fff;
	}
	#chosenBar {
	    padding: 20px 40px 10px;
		margin: 0!important;
		background: #fcfcfc;
		border-bottom: none;
		overflow: auto;
	}
	.normalBar {
	    margin: 0 20px;
        padding: 10px 20px;
		border-bottom: 1px dashed #efeff5;
		color: #777;
        line-height: 25px;
        clear: both;
		overflow: auto;
	}
	.headerColumn {
	    text-align: right;
		float: left;
        width: 95px;
		line-height: 25px;
	}
	.headerColumn i {
		float: left;
		font-size: 18px;
		margin-top: 3px;
	}
	#chosenItems {
	    padding-left: 15px;
		float: left;
	}
	.chosenItem {
		background: #fe5098;
		color: #fff;
		padding: 5px 5px 2px 6px;
		border: 1px solid #fe5098;
		border-radius: 2px;
		cursor: default;
		position: relative;
		float: left;
		margin-right: 10px;
		margin-top: -5px;
	}
	.chosenItem:hover {
	    background: #fff;
		color: #fe5098;
	}
	.removeItem {
	    padding-left: 4px;
		padding-right: 4px;
		font-size: 10px;
		cursor: pointer;
		position: relative;
        top: -2px;
	}
	.optionItem {
	    width: 70px;
		text-align: center;
		float: left;
		margin-left: 8px;
		margin-right: 8px;
		cursor: pointer;
	}
	.optionItem:hover {
	    color: #fe5098;
	}
	#sortBar {
	    padding-top: 18px;
		padding-bottom: 18px;
		overflow: auto;
	}
	.sortItem {
	    margin-right: 20px;
		float: left;
		padding-left: 6px;
		padding-right: 6px;
		color: #333;
	}
	.sortItem p{
		float: left;
		line-height: 25px;
	}
	.sortItem i {
		float: right;
		line-height: 25px;
		margin-left: 2px;
	} 
	.sortItem:hover {
	    background-color: #fe5098;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
	}
	.productItem {
	    width: 285px;
		float: left;
		border: 1px solid #ededed;
		box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
		background-color: #ffffff;
		border-radius: 4px;
		overflow: hidden;
		cursor: pointer;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.productItem:hover {
	    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
	}
	.imageDiv {
		width: 100%;
		height: 236px;
	}
	.imageDiv img {
		width: 100%;
		height: 100%;
	}
	.imageDivMask {
	    width: 100%;
		height: 236px;
		position: relative;
		margin-top: -236px;
		background-color: rgba(0,0,0,.6);
		opacity: 0;
	}
	.imageDivMask:hover {
	    opacity: 0.2;
	}
	.inforDiv {
		width: 100%;
		height: 84px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		color: #999;
		line-height: 20px;
	}
	.rowlast {
	    margin-right: 0px!important;
	}
	.productWishShadow {
	    box-shadow: none!important;
	}
	.productDesc {
	    float: left;
		width: 60%;
	}
	.productPrice {
	    float: right;
		width: 40%;
		text-align: right;
	}
	.originalPrice {
	    text-decoration: line-through;
		font-size: 10px;
	}
	.ourPrice {
	    color: #fe5098;
		font-size: 16px;
	}
	.addToCart {
	    position: relative;
		overflow: auto;
		float: right;
		margin-top: -40px;
		margin-right: 10px;
		background: #333;
		color: #fff;
		padding: 5px;
	}
	.addToCart:hover {
		opacity: 0.8;
	}
	.addToCart i {
		margin-right: 4px;
		font-size: 14px;
	}
	#productGrid {
		overflow: auto;
		min-height: 120px;
	}
	#loadingDiv {
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
	#loadingDiv i {
		margin-top: 20px;
		font-size: 80px;
	}
	.alreadyExist {
		display: block!important;
	}