
#mainHeader {
    width: 100%;
	height: 402px;
	background-image: url('/js/images/cemetery_a_spot_background@2x.jpg');
	text-align: center;
	padding-top: 137px;
	background-size: 100%;
}
#mainHeader p {
    font-size: 16px;
	color: #ffffff;
}
#headerText {
    width: 725px;
	margin: 0px auto;
}
#headerText h1 {
    width: 725px;
	font-size: 46px;
	line-height: 1.2;
	color: #ffffff;
	font-weight: 100;
}
#navigateVisit {
	width: 740px;
	margin: 0px auto;
	margin-top: 30px;
}
#navigateVisit input {
	height: 40px;
	margin-right: -4px;
	padding-left: 5px;
	border: 1px solid #eee;
	float: left;
}
#navigateVisit #inputArea {
	width: 360px;
	border-radius: 2px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}
#navigateVisit #inputCe {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}
#visitButton {
    width: 160px;
	height: 40px;
	border-radius: 4px;
	background-color: #ff5274;
	margin-top: -2px;
	margin-bottom: 4px;
	border: none;
	position: relative;
	top: 2px;
	float: left;
}
#visitButton p{
    font-size: 18px;
	line-height: 40px;
	color: #ffffff;
	font-weight: 100;
}
#datetimepicker1 {
	width: 200px;
	float: left;
}
#searchBlurDiv {
	position: absolute;
	width: 714px;
	margin-top: 42px;
	background: #ffffff;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
}
#searchBlurDiv .stateBar {
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	padding-top: 12px;
	overflow: auto;
}
#searchBlurDiv .subBar {
	width: 100%;
	padding-top: 6px;
	overflow: auto;
	padding-bottom: 6px;
	text-align: left;
	padding-left: 15px;
}
#searchBlurDiv .headerCol {
	width: 20%;
	float: left;
}
#searchBlurDiv .normalCol {
	width: 80%;
	float: left;
}
#searchBlurDiv .normalCell {
	width: 20%;
	float: left;
	margin-bottom: 12px;
	text-align: left;
	border-radius: 2px;
	cursor: pointer;
}
#searchBlurDiv .normalCell:hover {
	color: #ffffff;
	background-color: #ff5274;
}
#typeBlurDiv {
	width: 714px;
	position: absolute;
	margin-top: 40px;
	background: #ffffff;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
}
#typeBlurDiv .optionBar {
    width: 100%;
	overflow: auto;
	cursor: pointer;
}
#typeBlurDiv .optionBar:hover {
	background: #999999;
	color: #ffffff!important;
}
#typeBlurDiv .optionIcon {
	width: 6%;
	float: left;
}
.optionIcon img {
	width: 70%;
	margin-top: 6px;
	margin-left: 10px;
}
#typeBlurDiv .optionDesc {
	width: 94%;
	float: left;
	text-align: left;
	padding-left: 10px;
}
#typeBlurDiv .descMain {
	line-height: 44px;
	font-size: 14px;
	font-weight: bold;
	color: #484848;
}
#typeBlurDiv .descAdd {
	line-height: 44px;
	font-size: 14px;
	color: #c3c0c0;
}
#cemeteryList {
    width: 100%;
	overflow: auto;
}
.listTitle {
    width: 94px;
	margin: 0px auto;
	overflow: auto;
	text-align: center;
}
.listTitle img {
    width: 80%;
	height: 80%;
}
.listTitle h1 {
    font-size: 46px;
    line-height: 1.1;
    color: #3d3d3d;
	margin-top: 0px;
	font-weight: bold;
	margin-bottom: 29px;
}
.listContent {
    width: 1200px;
	margin: 0px auto;
	overflow: auto;
}
.doubleLeft {
    width: 793px;
	margin-right: 21px;
}
.doubleRight {
    width: 793px;
}
.singleLeft {
    width: 386px;
	margin-right: 21px;
}
.singleMiddle {
    width: 386px;
	margin-right: 21px;
}
.singleRight {
    width: 386px;
}
.cemeteryDiv {
    margin-bottom: 21px;
	height: 360px;
	float: left;
	background-color: #ffffff;
	text-align: center;
	cursor:pointer;
	overflow: hidden;
}
.cemeteryDiv img {
 max-width:793px;_width:expression(this.width > 793 ? "793px" : 100%);
  height: 100%;
  width: 100%;
}

.cemeteryDiv p {
    line-height: 370px;
	color: #000000;
	font-size: 34px;
}
#visitButton{
	cursor:pointer;

}
.cemeteryDiv h5 {
	color: #ffffff;
	text-shadow: 0 2px 6px #000;
}
.cemeteryDiv h1 {
	margin-top: 140px;
	color: #ffffff;
	margin-top: -220px;
	text-shadow: 0 2px 6px #000;
}
.ceMuskDiv {
	height: 100%;
    width: 100%;
    margin-top: -360px;
    background-color: rgba(0,0,0,.6);
    opacity: 0.6;
}
