 .topBarDiv {
		box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
		height: 65px;
		z-index: 1000;
	}
    body {
	    text-align: center;
	}
	p {
	    margin: 0px;
	}
	#loginMain {
	    width: 600px;
		height: 453px;
		background-color: #ffffff;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
		margin: 0px auto;
		margin-top: 90px;
		margin-bottom: 90px;
	}
	#topPart {
	    width: 100%;
		overflow: auto;
		padding-top: 27px;
	}
	#mainTitle {
		width: 100%;
		text-align: center;
	}
	#mainTitle p {
	    font-size: 19px;
		font-weight: bold;
	}
	#closeArea {
	    float: right;
		overflow: auto;
		margin-right: 21px;
		margin-top: -40px;
		cursor: pointer;
	}
	#closeArea:hover {
	    background: #ff5274;
		color: #ffffff;
	}
	#closeArea p {
	    font-size: 18px;
		font-weight: bold;
	}
	#inputArea {
	    width: 352px;
		overflow: auto;
		text-align: center;
		margin: 0px auto;
	}
	#inputArea .form-control{
	    width: 100%;
        height:	50.4px;
		border: solid 1px #333333;
		border-radius: 5px;
        background-color: #ffffff;
		margin-bottom: 10px;
	}
	#inputArea .form-control:focus {
	    border: solid 1px #ff5274;
	}
	#submit {
	    width: 186px;
		height: 50px;
		border-radius: 84px;
		margin: 0px auto;
		background: #ff5274;
		text-align: center;
		margin-bottom: 10px;
		cursor: pointer;
		margin-top: 10px;
	}
	#submit:hover {
	    background: #ff496d;
	}
	#submit p {
	    color: #ffffff;
		font-size: 19px;
		line-height: 50px;
	}
	#alreadyHas {
	    width: 100%;
		text-align: center;
	}
	#alreadyHas .textSpan {
	    font-size: 14px;
        line-height: 1.5;
        color: #333333;
		font-family: "Microsoft Yahei";
	}
	#alreadyHas .linkSpan {
	    font-size: 14px;
        line-height: 1.5;
        color: #ff5274;
		cursor: pointer;
		font-family: "Microsoft Yahei";
	}
	#errorContent {
	    width: 100%;
        height:	30px;
		background: #fef2f2;
        border: 1px solid #ffb4a8;
	}
	#errorContent p {
	    font-size: 8px;
		text-align: center;
		line-height: 30px;
		margin: 0px;
	}
	#errorContentCoat {
	    width: 100%;
        height:	47px;
		padding-top: 17px;
	}
	.ddetails-header {
	    margin:0px auto;
		left: auto;
		float: none;
	}
	.checkcode {
	    height: 40px;
	}