@media (min-width: 900px) {
  .container {
    width: 100%;
	padding: 0px;
	min-width: 1000px;
	background-color: #F7F7F7;
  }
}
p {
    margin: 0px;
}
span {
    font-family: "Microsoft Yahei";
}
#paymentContain {
    width: 81%;
	overflow: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #ffffff;
	margin: 0px auto;
	margin-top: 35px;
}
#infoContain {
	overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 54px;
	padding-bottom: 106px;
}
#footerContain {
    background: #efefef;
	overflow: auto;
}
#footer {
    overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 28px;
	padding-bottom: 28px;
	
}
#nextButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #f62f5e;
	text-align: center;
	float: right;
	cursor: pointer;
}
#nextButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #ffffff;
}
#prevButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #ffffff;
	text-align: center;
	float: left;
	cursor: pointer;
}
#prevButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #f62f5e;
}
.statusPointer {
    width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	float: left;
}
.statusBar {
    width: 270px;
	height: 7px;
	background: #eeeeee;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
	margin-top: 6px;
}
#paymentStatusDesc {
    width: 100%;
	margin-top: 27px;
	overflow: auto;
	padding-bottom: 28px;
}
.descDiv {
    overflow: auto;
	float: left;
}
.first {
    margin-right: 185px;
}
.second {
    margin-right: 210px;
}
.last {
    float: right!important;
	margin-right: 0px!important;
}
.descDiv p {
    font-size: 19px;
    line-height: 1.5;
    color: #2e2e2e;
	font-weight: bold;
}
#paymentStatusDesc .selected {
    color: #f62f5e;
}
#paymentStatus .selected {
	background: #f62f5e;
}
#paymentMethod {
    width: 100%;
	overflow: auto;
	padding-top: 20px;
	text-align :center;
}
.singleMethod {
	background-size: 20%;
    width: 30%;
	margin-right: 3%;
	overflow: auto;
	float: left;
	border-radius: 2.8px;
    background-color: #f9f9f9;
    border: solid 1.4px #d8d8d8;
}
.methodTop {
    overflow: auto;
	width: 100%;
	text-align: center;
	height: 90px;
}

.methodTop img{
   margin-top:10px;
   width:150px;
   height:80px
}

.methodBottom {
    overflow: auto;
	width: 100%;
	text-align: center;
	height: 50px;
}
.methodBottom span {
    font-size: 19px;

}
.fieldInd {
    overflow: auto;
	float: left;
	margin-right: 25px;
	margin-top: 15px;
}
.longField {
    width: 440px;
}
.shortField {
    width: 208px;
}
.normalField {
    width: 242px;
}
.shorterField {
    width: 170px;
}
.lastField {
    margin-right: 0px!important;
}
.normalField {
    width: 242px;
	overflow: auto;
	float: left;
}
.fieldDesc {
    width: 100%;
	height: 44px;
}
.fieldDesc p {
    font-size: 19px;
    line-height: 44px;
    color: #b4b4b4;
	font-weight: bold;
}
.fieldContent {
    width: 100%;
	height: 56px;
}
.fieldContent input {
    height: 56px;
	width: 100%;
	font-size: 25px;
	font-family: "Microsoft Yahei";
}
.inputSub {
    width: 22px;
	height: 56px;
	margin-top: -56px;
	float:right;
	margin-right: 15px;
}
.inputSub span {
    line-height: 55px;
	font-size: 20px;
}

#qrDiv{
	margin-top: 10px;
	margin-left: -35px;
	text-align:center;
}