@media (min-width: 900px) {
  .container {
    width: 100%;
	padding: 0px;
	min-width: 1000px;
	background-color: #F7F7F7;
  }
}
p {
    margin: 0px;
}
span {
    font-family: "Microsoft Yahei";
}
#paymentContain {
    width: 81%;
	overflow: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #ffffff;
	margin: 0px auto;
	margin-top: 35px;
}
#infoContain {
	overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 54px;
	padding-bottom: 46px;
}
#footerContain {
    background: #efefef;
	overflow: auto;
}
#footer {
    overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 28px;
	padding-bottom: 28px;
}
#nextButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #f62f5e;
	text-align: center;
	float: right;
	cursor: pointer;
}
#nextButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #ffffff;
}
#paymentStatus {
    overflow: auto;
}
.statusPointer {
    width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	float: left;
}
.statusBar {
    width: 270px;
	height: 7px;
	background: #eeeeee;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
	margin-top: 6px;
}
#paymentStatusDesc {
    width: 100%;
	margin-top: 27px;
	overflow: auto;
	padding-bottom: 28px;
}
.descDiv {
    overflow: auto;
	float: left;
}
.first {
    margin-right: 250px;
}
.second {
    margin-right: 260px;
}
.last {
    float: right!important;
}
.descDiv p {
    font-size: 19px;
    line-height: 1.5;
    color: #2e2e2e;
	font-weight: bold;
}
#paymentStatusDesc .selected {
    color: #f62f5e;
}
#paymentStatus .selected {
	background: #f62f5e;
}
.fieldLine {
    width: 100%;
	overflow: auto;
	padding-bottom: 31px;
	border-bottom: 3px solid #e5e5e5;
}
.fieldInd {
    overflow: auto;
	float: left;
	margin-right: 25px;
	margin-top: 15px;
}
.longField {
    width: 440px;
}
.shortField {
    width: 208px;
}
.normalField {
    width: 242px;
}
.shorterField {
    width: 170px;
}
.lastField {
    margin-right: 0px!important;
}
.normalField {
    width: 242px;
	overflow: auto;
	float: left;
}
.fieldDesc {
    width: 100%;
	height: 44px;
}
.fieldDesc p {
    font-size: 19px;
    line-height: 44px;
    color: #b4b4b4;
	font-weight: bold;
}
.fieldContent {
    width: 100%;
	height: 56px;
	
	
}
.fieldContent input {
    height: 56px;
	width: 100%;
	font-size: 25px;
	font-family: "Microsoft Yahei";
}
.fieldContent select {
    height: 56px;
	width: 100%;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}
.subTitle {
    font-size: 13px;
    line-height: 22px;
    color: #b4b4b4;
}
.shippingMethod {
    width: 100%;
	overflow: auto;
	padding-bottom: 10px;
		padding-left: 8%;

}
.shippingMethod h1 {
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 1.4px;
    color: #2e2e2e;
	margin: 0px;
	padding-top: 10px;
}
.shippingMethod p {
    font-size: 19px;
    line-height: 1.5;
    color: #b4b4b4;
	margin-bottom: 7px;
}
.radioDesc {
    font-size: 19px;
    line-height: 1.5;
    color: #2e2e2e;
	font-weight: bold;
	margin-left: 3px;
	margin-right: 3px;
}
.normalDesc {
    font-size: 26px;
    line-height: 0.8;
    color: #2e2e2e;
	margin-right: 42px;
}


#saveButton {
  width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #f62f5e;
	text-align: center;
	float: right;
	cursor: pointer;
}
#saveButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #ffffff;
}
#prevButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #ffffff;
	text-align: center;
	float: left;
	cursor: pointer;
}
#prevButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #f62f5e;
}