.topBarDiv {
	box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
	height: 65px;
	z-index: 1000;
}
@media (min-width: 900px) {
  .container {
    width: 100%;
	padding: 0px;
	min-width: 1000px;
	background-color: #F7F7F7;
  }
}
p {
    margin: 0px;
}
span {
    font-family: "Microsoft Yahei";
}
#paymentContain {
    width: 81%;
	overflow: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #ffffff;
	margin: 0px auto;
	margin-top: 35px;
}
#infoContain {
	overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 54px;
	padding-bottom: 46px;
}
#footerContain {
    background: #efefef;
	overflow: auto;
}
#footer {
    overflow: auto;
	width: 908px;
	margin: 0px auto;
	padding-top: 28px;
	padding-bottom: 28px;
}
#nextButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #f62f5e;
	text-align: center;
	float: right;
	cursor: pointer;
}
#nextButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #ffffff;
}
#prevButton {
    width: 190px;
	height: 56px;
	border-radius: 28px;
	background: #ffffff;
	text-align: center;
	float: left;
	cursor: pointer;
}
#prevButton p {
    font-size: 20px;
    line-height: 56px;;
    color: #f62f5e;
}
#paymentStatus {
    overflow: auto;
}
.statusPointer {
    width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	float: left;
}
.statusBar {
    width: 270px;
	height: 7px;
	background: #eeeeee;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
	margin-top: 6px;
}
#paymentStatusDesc {
    width: 100%;
	margin-top: 27px;
	overflow: auto;
	padding-bottom: 28px;
}
.descDiv {
    overflow: auto;
	float: left;
}
.first {
    margin-right: 250px;
}
.second {
    margin-right: 260px;
}
.last {
    float: right!important;
}
.descDiv p {
    font-size: 19px;
    line-height: 1.5;
    color: #2e2e2e;
	font-weight: bold;
}
#paymentStatusDesc .selected {
    color: #f62f5e;
}
#paymentStatus .selected {
	background: #f62f5e;
}
#confirmContain {
    width: 954px;
	overflow: auto;
	margin: 0px auto;
}
#confirmContain p {
    font-size: 19px;
	color: #2e2e2e;
}
#confirmationInfo {
    width: 100%;
	overflow: auto;
}
#confirmLeft {
    width: 61%;
	float: left;
	overflow: auto;
	padding-bottom: 30px;
}
#confirmRight {
    width: 39%;
	float: left;
	overflow: auto;
}
.titleText {
    padding-left: 23px;
	padding-top: 15px;
}
.titleText p {
    font-weight: bold;
}
.singleConfirmTitle {
    padding-left: 23px;
	width:100%;
	height: 56px;
}
.singleConfirmTitle span {
    line-height: 56px;
	font-size: 19px;
	font-weight: bold;
	color: #b4b4b4;
}
.singleConfirm {
	width:100%;
	height: 56px;
	padding-left: 23px;
}
.singleConfirm span {
    line-height: 56px;
	font-size: 19px;
}
.itemName {
    float: left;
}
.itemAmout {
    float: right;
	margin-right: 48px;
}
.itemPrice {
    float: right;
	margin-right: 22px;
	color: #f62f5e;
}
.itemAmoutValue {
    float: right;
	margin-right: 14px;
}
.itemPriceValue {
    float: right;
	margin-right: 15px;
	color: #f62f5e;
	width: 90px;
	text-align: right;
}
.taocanDiv {
    background-color: #f7f7f7;
	width: 100%;
	overflow: auto;
	padding-left: 23px;
	padding-bottom: 10px;
}
.taocanDiv .singleConfirm{
    padding-left: 0px;
}
.taocanDiv p {
    line-height: 48px;
}
.taocanDesc {
    width: 460px;
	background-color: #f0f0f0;
	border: solid 1.4px #f7f7f7;
	padding-top: 11px;
	padding-bottom: 12px;
	overflow: auto;
	margin-top: -10px;
}
.taocanDesc p {
    font-size: 15px!important;
    color: #2e2e2e;
	line-height: 17px;
}
.descTop {
    padding-left: 20px;
	height: 17px;
}
.descBottom {
    padding-left: 40px;
	height: 34px;
}
#confirmRight {
    padding-left: 80px;
}
.rightInfo {
    padding-left: 23px;
	width: 180px;
}
#priceInfo {
    width: 908px;
	margin: 0px auto;
	overflow: auto;
	padding-top: 37px;
	padding-bottom: 37px;
	border-top: 2px solid #e5e5e5;
}
.discountDiv {
    overflow: auto;
	float: left;
}
#discount {
    width: 256px;
	height: 56px;
	border-radius: 28px;
	font-size: 20px;
	font-family: "Microsoft Yahei"
}
.summ {
    overflow: auto;
	margin-left: 100px;
	float: left;
	margin-top: -5px;
}
.summ p {
    font-size: 19px;
	color: #2e2e2e;
	line-height: 42px;
	font-weight: bold;
}
.summ .title {
	color: #b4b4b4!important;
	line-height: 1.5!important;
}
.summ .final {
    font-size: 28px!important;
    color: #f62f5e!important;
	margin-left: -5px;
}