.containerProduct {
    width: 100%;
}
.coverDiv {
    height: auto;
	width: 100%;
	top: 60px;
	bottom: 60px;
	text-align: center;
	position: fixed;
	z-index: 1001;
}
.coverDiv .detailFrame {
    height: 100%;
}
.closeCoverDiv {
	position: absolute;
	top: 0px;
	width: 35px;
	height: 35px;
	border-radius: 17px;
	border: 2px solid #979797;
	color: #979797;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	opacity: 0.5;
}
.closeCoverDiv:hover {
	opacity: 1;
}
	.coatDiv {
	    padding-bottom: 20px;
	}
	.subHeader {
	    margin: 0px;
		margin-left: 160px;
		margin-top: 50px;
	}
    #titleIconDiv {
	    position: absolute;
		left: 64px;
		top: 14px;
		width: 68px;
		height: 68px;
		text-align: center;
		border-radius: 34px;
		overflow: hidden;
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);
		cursor: pointer;
		transition:box-shadow 0.3s;
	    -moz-transition:box-shadow 0.3s;
        -webkit-transition:box-shadow 0.3s;
        -o-transition:box-shadow 0.3s;
	}
	#titleIconDiv:hover {
	    box-shadow: 0px 10px 20px 0px #ff5274;
	}
	.iconImg {
	    margin-left: -5px;
		margin-top: 2px;
		max-width: none;
	}
	.coverDiv {
		height: auto;
		width: 100%;
		top: 30px;
		bottom: 60px;
		text-align: center;
		position: fixed;
		z-index: 1001;
	}
	.coverDiv .detailFrame {
		width: 1165px;
		margin: 0px auto;
	}
	.titleDiv {
		width: 1165px;
		height: 40px;
		margin: 0 auto;
		background-color: #ccc;
		text-align: left;
		display: none;
	}
	.titleDiv h1 {
		margin: 0px;
		margin-left: 15px;
		font-size: 20px;
		line-height: 40px;
	}
	.overviewItem {
	    width: 100%;
		height: 370px;
		background-image: url('/js/images/japan_promotion.jpg');
		padding-left: 210px;
		padding-top: 93px;
		background-position: center;
	}
	.overviewItem h1 {
	    margin: 0px;
		color: #ffffff;
		font-size: 44px;
		line-height: 55px;
		font-weight: 100;
	}
	.overviewItem h2 {
	    margin: 0px;
		color: #ffffff;
		font-size: 44px;
		line-height: 55px;
		font-weight: bold;
	}
	.overviewItem h3 {
	    margin: 0px;
		margin-top: 10px;
		color: #ff5274;
		font-size: 24px;
		line-height: 16px;
	}
	
.overviewItem a{
	text-decoration:none;
	 
 } 
.overviewItem a:hover{ cursor:pointer;	}
	
	
	#guide {
	    width: 1040px;
		height: 200px;
		background-color: #ffffff;
		box-shadow: 0px 2px 4px 0px RGBA(0,0,0,0.5);
		margin: 0px auto;
		margin-top: 42px;
		margin-bottom: 48px;
	}
	#leftGuide {
	    width: 65%;
		height: 100%;
		background: #f1f1f1;
		padding-top: 53px;
		float:left;
	}
	.guideIcon {
	    width: 90px;
		height: 90px;
		border-radius: 5px;
		border: 1px solid #ff5274;
		margin: 0px auto;
		margin-bottom: 44px;
		text-align: center;
		padding-top: 10px;
		cursor: pointer;
	    transition:background 0.5s;
	    -moz-transition:background 0.5s;
        -webkit-transition:background 0.5s;
        -o-transition:background 0.5s;
	}
	.guideIcon:hover {
	    background: #ccc;
	}
	.guideIcon p {
	    color: #ff5274;
		font-size: 15px;
	}
	.guideIcon span {
	    font-size: 40px;
	}
	#rightGuide {
	    width: 100%;
		height: 100%;
		padding-top: 28px;
		padding-left: 40px;
		padding-right: 40px;
		float:left;
	}
	#rightGuide h3 {
	    color: #ff5274;
		font-size: 25px;
		line-height: 32px;
		margin:0px;
		margin-bottom: 16px;
	}
	#rightGuide p {
	    color: #5b5b5b;
		font-size: 16px;
		line-height: 24px;
	}
	#case {
	    width: 100%;
		height: 420px;
		padding-top: 86px;
		padding-left: 125px;
		background: #000000;
		background-image: url('/js/images/qingming_img.jpg');
		background-position: center;
        background-size: 100%;
	}
	#case a{
	    cursor: pointer;
	}
	#caseMain {
	    width: 1200px;
	    margin: 0px auto;
	}
	#case h1 {
	    font-size: 44px;
		line-height: 44px;
		margin: 0px;
		margin-bottom: 20px;
		color: #ffffff;
	}
	#case h2 {
	    font-size: 20px;
		line-height: 32px;
		margin: 0px;
		width: 420px;
		color: #ffffff;
	}
	#case p {
	    font-size: 20px;
		line-height: 16px;
		margin: 0px;
		width: 420px;
		color: #ff5274;
		margin-top: 20px;
	}
	#filter {
	    width: 100%;
		background: #f2f2f2;
		box-shadow: 0px 2px 4px 0px RGBA(162,162,162,0.5);
		padding-top: 12px;
		height: 130px;
	}
	#filterMain {
	    width: 912px;
	    margin: 0px auto;
	    overflow: auto;
	}
	.filterIcon {
	    float: left;
		width: 92px;
		height: 106px;
		border-radius: 7px;
		margin-right: 25px;
		cursor: pointer;
	}
	.lastFilterIcon {
	    margin-right: 0px;
	}
	.filterIcon:hover {
	    background-color: #e8e8e8;
	}
	.selected {
	    background-color: #e8e8e8;
	}
	.imageHalf {
	    text-align: bottom;
		width: 100%;
		height: 72%;
		text-align: center;
	}
	.fakeImg {
	    height:100%;
		width: 0px;
	}
	.iconImg{
		top: 20px;
		vertical-align:middle
	}
	.textHalf {
	    text-align :center;
		height: 28%;
		width: 100%;
	}
	.textHalf p{
	    color: #5b5b5b;
		font-size: 16px;
		margin: 0px;
	}
	#productAndServiceMain {
	    width: 1349px;
	    margin: 0px auto;
	}
	#topBarInclude {
	    width: 100%;
	    height: 67px;
	}