 body {
	    background: #F5F5F5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
        line-height: 1.43;
		font-family: "Microsoft Yahei"!important;
		margin: 0px;
		color: #565a5c;
	}
	h3 {
	    line-height: 32px;
		font-weight: 500;
		width: 100%;
		font-size: 23px;
		color: #666;
		max-height: 62px;
		margin: 0px;
	}
	p {
	    margin: 0px;
	}
	#topContent {
	    width: 1101px;
		margin: 0px auto;
		margin-top: 30px;
	    margin-bottom: 15px;
		overflow: auto;
	}
	#topLeft {
	    width: 690px;
		margin-right: 65px;
		float: left;
	}
	#topRight {
        width: 343px;
	    float: left;
	}
	#photosWall {
	    width: 100%;
		overflow: auto;
	}
	#photoShow {
	    width: 100%;
		overflow: auto;
	}
	#photoShowArea {
	    overflow: auto;
		height: 389px;
		padding-left: 75px;
	}
	#photoShowArea img {
	    width: 100%;
	    height: 100%;
	}
	#photoShowArea div {
	    transition:opacity 1s;
	    -moz-transition: opacity 1s;
        -webkit-transition:opacity 1s;
        -o-transition:opacity 1s;
		background-size: 100% 100%;
	}
	ul {
	    list-style: none;
	}
	#sliderPhote {
	    padding-top: 14px;
		margin: 0px;
		padding-left: 0px;
		margin-left: -10px;
	}
	.singleSlide img{
	    width: 126px;
		height: 86px;
	}
	li {
	    background-size: 100%;
	}
	.singleSlide {
	    overflow: hidden;
		height: 77px;
		margin-left: 10px;
		border: 2px solid #ffffff;
		float: left;
		cursor: pointer;
		opacity: 0.5;
	}
	.singleSlide:hover {
	    border: 2px solid #ed4b83;
		opacity: 1;
	}
	.selectedPic {
	    border: 2px solid #ed4b83;
		opacity: 1;
	}
	#priceArea {
	    margin-top: 23px;
		padding-bottom: 23px;
		border-bottom: 1px solid #dbdbdb;
		float: left;
		width: 100%;
	}
	.priceFont {
	    color: #ed4b83;
		font-weight: normal;
		font-size: 16px;
		float:left;
	}
	.priceBold {
	    font-size: 34px;
        font-weight: 100;
		color: #ed4b83;
		font-family: arial,Verdana,Geneva,Helvetica,"Microsoft YaHei",Simsun;
		line-height: 1;
	}
	.normalPriceText {
	    font-size: 14px;
		color: #666;
		margin-top: 14px;
		margin-left: 10px;
		background-size: 100%;
	}
	#commentArea {
	    margin-top: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #dbdbdb;
		float: left;
	}
	#buyNumberBox {
	    float: left;
		padding-left: 10px;
        float: left;
        width: 128px;
        border-right: 1px solid #dbdbdb;
	}
	.buyNum {
	    margin-top: 2px;
		font-size: 14px;
		float: left;
		line-height: 1;
	}
	.buyNumberCount {
	    color: #ed4b83;
	}
	.StarEmpty {
	    position: relative;
		float: left;
		display: block;
		width: 100px;
		height: 20px;
		background: url(/js/images/starempty.png) repeat-x;
		top: -3px;
	}
	.StartFull {
	    top: -3px;
		position: absolute;
		float: left;
		display: block;
		width: 100px;
		height: 20px;
		background: url(/js/images/star.png) repeat-x;
		left: 20px;
	}
	#startGroup {
	    position: relative;
		padding-left: 20px;
		float: left;
		width: 183px;
	}
	#commentNum {
	    margin-left: 15px;
        color: #666;
		margin-top: 2px;
		font-size: 14px;
		float: left;
		line-height: 1;
		color: #666;
	}
	#serverDescription {
	    color: #666;
		margin: 15px 0;
		width: 100%;
		float: left;
		font-size: 14px;
	}
	#buyButton {
	    float: left;
        margin-top: 5px;
        text-align: center;
        position: relative;
	}
	#buyButtonSelf {
	    background: #ed4b83;
		color: #FFF;
		font-size: 20px;
		width: 222px;
		height: 44px;
		line-height: 44px;
		border-radius: 3px;
		display: block;
		cursor: pointer;
		margin: auto;
	}
	#buyButtonSelf:hover {
	    background: #AF1E50;
	}
	#addToWishlist {
	    text-align: left;
		width: 90px;
		position: absolute;
		right: -124px;
		top: 15px;
		height: 15px;
		line-height: 1;
		padding-left: 25px;
		background: url(/js/images/wishlisticon.png) left center no-repeat;
		font-size: 14px;
		cursor: pointer;
	}
	#middleContent {
	    height: 40px;
        background: #ffffff;
        width: 100%;
		box-shadow: 0 4px 3px -2px #f1f1f1;
	}
	#bottomContent {
	    width: 1124px;
		margin: 0px auto;
		padding-left: 12.5px;
		padding-right: 12.5px;
	}
	#bottomLeft {
	    padding-left: 12.5px;
		padding-right: 12.5px;
		width: 690px;
		overflow: auto;
		float: left;
	}
	#tinymce {
	    background-color: #F5F5F5;
	}
	.mce-panel {
        border: none!important;
    }
	.mce-toolbar-grp {
	    display: none!important;
	}
	#bottomRight {
	    width: 315px;
		height: 360px;
		background-color: #ffffff;
		float: left;
		margin-left: 780px;
		top: 0px;
		position: fixed;
		display: none;
		z-index: 11;
	}
	.headerBar {
	    background-color: rgba(60,63,64,0.9);
		border: 0;
		color: #fff;
		padding: 6px 20px;
		text-transform: capitalize;
		width: 100%;
		z-index: 1001;
		overflow-y: hidden;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
	}
	.InfomationCoat {
	    padding: 20px;
		width: 100%;
		box-sizing: border-box!important;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	}
	.priceArea span {
	    font-size: 24px;
		font-weight: normal;
		line-height: 1.1;
		box-sizing: border-box!important;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	}
	.addToCart {
	    white-space: normal;
        width: 100%;
		border-color: #ed4b83;
		border-bottom-color: #e00007;
		background-color: #ed4b83;
		color: #fff;
		box-sizing: border-box!important;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	   	padding: 9px 27px;
        font-size: 16px;
		border-radius: 2px;
		border: 1px solid;
		text-align: center;
		vertical-align: middle;
		line-height: 1.43;
		-webkit-user-select: none;
		cursor: pointer;
		margin-top: 35px;
	}
	.addToCart:hover {
	    background: #AF1E50;
	}
	.addToWish {
	    white-space: normal;
        width: 100%;
		border-color: #ccc;
		background-color: #ffffff;
		color: #666;;
		box-sizing: border-box!important;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	   	padding: 9px 27px;
        font-size: 16px;
		border-radius: 2px;
		border: 1px solid;
		text-align: center;
		vertical-align: middle;
		line-height: 1.43;
		-webkit-user-select: none;
		cursor: pointer;
		margin-top: 15px;
		background: url('/js/images/wishbtnicon.png') 80px 13px no-repeat;
		padding-left: 60px
	}
	.addToWish:hover {
	    opacity: 0.7;
	}
	.buttonDesc {
	    font-size: 14px;
		font-weight: lighter;
		text-align: center;
		padding-top: 6px;
	}
	#productName {
	    font-weight: bold;
		font-size: 18px;
		text-align: center;
		color: #666;
	}
	.goToOtherPlace {
	    text-align: center;
		color: #ed4b83;
		cursor: pointer;
		float: right;
		margin-top: 40px;
	}
	#referenceContent {
	    width: 1100px;
		margin: 0px auto;
		overflow: auto;
	    box-sizing: border-box;
		-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
		margin-top: -30px;
	}
	h4 {
	    font-size: 18px;
		margin-bottom: 25px;
		padding-left: 13px;
	}
	#referenceContainer {
	    width: 100%;
	}
	.singleReference {
	    width: 25%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
		float: left;
		cursor: pointer;
		padding-left: 12.5px;
		padding-right: 12.5px;
	}
	.imageDiv {
	    height: 210px;
		overflow: hidden;
	}
	.imageDiv img {
	    width: 100%;
		height: 100%;
	}
	.priceFloat {
        padding: 7px 10px;
		background-color: rgba(60,63,64,0.9);
		color: #fff;
		position: absolute;
		margin-left: 20px;
		font-size: 24px;
		margin-top: -80px;
	}
	.refDesc {
	    padding-top: 10px;
		font-size: 16px;
		padding-left: 6px;
		padding-bottom: 10px;
	}
	#otherType {
	    width: 1100px;
		margin: 0px auto;
	}
	#otherNavi {
	    width: 100%;
		padding-left: 13px;
		padding-bottom: 40px;
	}
	#otherNavi a{
		font-size: 14px;
		text-decoration: none;
		color: #82888a;
		cursor: pointer;
	}
	#otherNavi a:hover{
	    text-decoration: underline;
	}
	#middleContainer {
	    width: 1100px;
		margin: 0px auto;
	}
	.singleNavi {
	    color: #82888a;
		font-size: 14px;
		padding: 10px 14px;
		float: left;
		cursor: pointer
	}
	.fixDiv {
	    position: fixed;
		top: 0px;
		opacity: 1!important;
		z-index: 10!important;
		background: #333!important;
	}
	.fixSingleNavi {
	    color: #ffffff;
		text-shadow: 0 -4px 5px rgba(255, 255, 255, 0.5), 0 4px 10px rgba(255, 255, 255, 0.5);
	}
	@media (max-width: 680px) {
        .container {
            width: 1280px!important;
        }
    }
    .disableDiv {
	   opacity: 0.6;
	}