.topBarDiv {
	box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
	height: 65px;
	z-index: 1000;
}
@media (min-width: 1080px) {
  .container {
    width: 1344px!important;
	padding: 0px!important;
	min-width: 1000px;
	margin: 0px auto;
  }
}
@media (max-width: 1080px) {
    .container {
        width: 1280px!important;
        padding: 0px!important;
    }
}
#questionMain {
    width: 100%;
	overflow: auto;
	padding-left: 156px;
	padding-bottom: 60px;
}
#imageDiv {
    width: 100%;
	background-image:url('../js/images/faq_image.jpg');
	background-size:100%;
	text-align: center;
    background-position: center;
}
#imageDiv h1{
    font-size: 50px;
	color: #ffffff;
	margin: 0px;
	line-height: 312px; 
}
.questionArea {
    width: 100%;
	overflow: auto;
	padding-top: 88px;
}
.questionArea h1 {
    font-size: 38px;
	color: #939393;
	margin: 0px;
	margin-left: 30px;
}
.questionGroup {
	padding-top: 44px;
	overflow: auto;
}
.singleQuestion {
    width: 440px;
	overflow: auto;
	float: left;
	margin-right: 113px;
	min-height: 300px;
}
.singleQuestion2 {
    width: 440px;
	overflow: auto;
	float: left;
	margin-right: 113px;
	min-height: 200px;
}
.questionHeader {
    width: 20px;
	float: left;
	overflow: auto;
	padding-top: 5px;
	text-align: center;
}
.questionHeader h2 {
    font-size: 24px;
	color: #ff5274;
    margin: 0px;
	margin-bottom: 14px;
	line-height: 30px;
	opacity: 0.5;
}
.questionContent {
    width: 420px;
	float: left;
	overflow: auto;
	padding-left: 10px;
}
.question {
    font-size: 27px;
	color: #333333;
	margin: 0px;
	margin-bottom: 13px;
}
.answer {
    font-size: 17px;
	line-height: 30px;
	color: #3d4351;
	margin: 0px;
}
.special {
    margin-top: 52px!important;
}