.topBarDiv {
    box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
	height: 65px;
	z-index: 100;
}
@media (min-width: 900px) {
  .container {
    width: 100%;
	padding: 0px;
	min-width: 1000px;
  }
}
#header {
    width: 100%;
	height: 215px;
	text-align: center;
	background: -webkit-radial-gradient(#ef8391, #db5f34);
    background: -o-radial-gradient(#ef8391, #db5f34);
    background: -moz-radial-gradient(#ef8391, #db5f34);
    background: radial-gradient(#ef8391, #db5f34);
}
#header h1 {
    font-size: 44px;
	line-height: 215px;
	color: #ffffff;
	margin: 0px;
}
#filterBar {
    padding-left: 248px;
	width:100%;
	height: 105px;
}
#colorFilter {
    width: 345px;
	height: 100%;
	float: left;
	margin-right: 38px;
}
.topHalfHeader {
    width: 100%;
	height: 38%;
	padding-left: 16px;
	padding-top: 16px;
	border-bottom: 1px solid #eeeeee;
}
.topHalfHeader p {
    font-size: 16px;
	letter-spacing: 3px;
	margin: 0px;
	color: #3c3d41;
}
.bottomHalf {
    width: 100%;
	height: 62%;
	padding-left: 18px;
	padding-top: 18px;
}
.optionIcon {
    width:26px;
	height: 26px;
	border-radius: 13px;
	margin-right: 5px;
	background: #eeeeee;
	float:left;
	cursor: pointer;
	opacity: 0.7;
	text-align: center
}
.optionIcon:hover {
    opacity: 1;
}
.optionIcon p {
    font-size: 8px;
	letter-spacing: 1px;
	color: #3c3d41;
	margin: 0px;
	line-height: 26px;
}
#sizeFilter {
    width: 184px;
	float: left;
	margin-right: 38px;
}
#priceFilter {
    width: 230px;
	float: left;
}
 #box{position: relative; width: 200px; height: 10px; padding-top:  30px;padding-bottom: 30px; margin-left: 15px;}
#bg{
    height: 2px;
	border-radius: 1px; 
	overflow: hidden;
	background: #838d8f;
}
#bgcolor{
    background: #eeeeee;
	width: 0;
	height: 2px;
	border-radius: 1px;
	float: left;
}
#bgcolorRight{
    background-color: #eeeeee;
	width: 0;
	height: 2px;
	border-radius: 1px;
	float: right;
}
#btLeft{
     width: 14px;
	 height: 14px;
	 background: #FFFFFF;
	 border-radius: 7px;
	 border: 2px solid #838d8f;
	 overflow: hidden;
	 position: absolute;
	 left: 0px;
	 margin-left: -7px;
	 margin-top: -6px;
	 cursor: pointer;
}
#btRight{
     width: 14px;
	 height: 14px;
	 background: #FFFFFF;
	 border-radius: 7px;
	 border: 2px solid #838d8f;
	 overflow: hidden;
	 position: absolute;
	 right: 0px;
	 ledt: auto;
	 margin-right: -7px;
	 margin-top: -6px;
	 cursor: pointer;
}
	.productItem {
	    width: 230px;
		float: left;
		margin-left: 40px;
		border-bottom: 1px solid #ededed;
		box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
		background-color: #ffffff;
		border-radius: 4px;
		overflow: hidden;
		cursor: pointer;
		transition:box-shadow 0.3s;
	    -moz-transition:box-shadow 0.3s;
        -webkit-transition:box-shadow 0.3s;
        -o-transition:box-shadow 0.3s;
	}
	.productItem:hover {
	    box-shadow: 0px 10px 20px 0px #ff5274;
	}
	.productInfo {
	    padding-top: 20px;
		padding-left: 15px;
		text-align: left;
		padding-bottom: 15px;
	}
	.productInfo .header {
	    font-size: 15px;
		color: #3b3d40;
		margin-bottom: 5px;
	}
	.productInfo .detail {
	    font-size: 12px;
		color: #f5274;
		margin-bottom: 20px;
	}
	.addWishButton {
	    cursor: pointer;
		border-radius: 3px;
		width: 130px;
		height: 28px;
		background-color: #ff5274;
		padding-left: 7px;
	}
	.addWishButton p {
	    color: white;
		font-size: 13px;
		line-height: 28px;
		float: left;
	}
	.addWishButton:hover {
	    background-color: #ff496d!important;
	}
	.addWishButton img {
	    float: left;
		margin-top: 5px;
	}
	.moreInfo {
	    border-top: 1px solid #ededed;
	}
	.moreInfo a{
	    line-height: 30px;
		color: #3078c0;
		font-size: 13px;
		border: 0px;
	}
	#product {
	    width: 1120px;
		margin: 0 auto;
		padding-top: 40px;
	}
	.item {
	    padding-top: 20px;
	    padding-bottom: 20px;
		overflow: auto;
	}
 #text{width: 200px; margin: 0 auto; font-size: 16px; line-height: 2em;}